{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': 'Bloque'}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
<div class="row">
    <div class="span8">
        <h1>{{ 'views.index.list'|trans({'%entity%': 'Bloque'}, 'MWSimpleAdminCrudBundle') }}</h1>
    </div>

    <div class="span12">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th{% if entities.isSorted('a.Nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Nombre', 'a.nombre') }}</th>
                    <th{% if entities.isSorted('a.Contenido') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Contenido', 'a.contenido') }}</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.contenido|raw }}</td>
                    <td>
                        
        <a class="btn btn-mini" href="{{ path('admin_bloque_show', { 'id': entity.id }) }}">
            {{ 'views.actions.show'|trans({}, 'MWSimpleAdminCrudBundle') }}
        </a>
        <a class="btn btn-mini" href="{{ path('admin_bloque_edit', { 'id': entity.id }) }}">
            {{ 'views.actions.edit'|trans({}, 'MWSimpleAdminCrudBundle') }}
        </a>                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="span4 navigation">
        {{ knp_pagination_render(entities) }}
    </div>
</div>
{% endblock %}