{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ seccion.item.title }}{% endblock %}

{% block seccionTitulo %}{{ seccion.item.title }}{% endblock %}

{% block seccionDescripcion %}{% endblock %}
{% block medio %}  
    <section id="blog" class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                {% include "@dirname/Plantilla/seccionLateralComun.html.twig" with { 'seccion' : seccion } %}
            </div><!--/.row-->
            <div class="col-lg-9 col-md-9 col-sm-9 ">
                {% include "@dirname/Form/macro-seccion.html.twig" with { 'seccion' : seccion } %}
            </div>
        </div>
    </section><!--/#blog-->    
{% endblock %}
