{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ seccion.item.title }}{% endblock %}

{% block seccionTitulo %}{{ seccion.item.title }}{% endblock %}

{% block seccionDescripcion %}{% endblock %}
{% block medio %} 
    <link href="{{ asset('bundles/cmsgafront/cpce/css/listado.css') }}" rel="stylesheet">
    <section class="container">
        <div id="blog" class="row"> 
            <div class="col-lg-3 col-md-3 col-sm-3 paddingTop20">
                {% include "@dirname/Plantilla/seccionLateralComun.html.twig" with { 'seccion' : seccion } %}
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                {% include "@dirname/Form/macro-seccion.html.twig" with { 'seccion' : seccion } %}
                <ul class="list-group">
                    {% for noticia in seccion.noticias  %}
                        <li class="list-group-item">
                            <a  href="{{ path('detalle_noticia', { 'id': noticia.id }) }}">{{ noticia.titulo }}</a>
                            {% if noticia.archivo %}
                                {% if noticia.archivo.filePath is not null %}
                                    <span class="badge">
                                        <a href="{{ asset(noticia.archivo.webPath) }}" {#download="{{ noticia.titulo }}"#} >
                                            Descargar <span class="glyphicon glyphicon-file"></span> 
                                        </a>
                                    </span>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            </div>           
        </div>
    </section>
</div>
{% endblock %}