{% extends "TwigBundle:Exception:error.html.twig" %}
{% block body %}
        <div class="status"><h3>El servidor retornó el siguiente error "{{ status_code }}".</h3></div>
        <p><h4>Hubo un error al procesar la información.</h4></p>
{% endblock %}
