<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ACE {% block backTitle %}{% endblock %}{% endblock %}</title>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="ACE Administrador de Contenidos Escalable">
        <meta name="author" content="aceweb.ga">
        <link rel="shortcut icon" href="{{ asset('bundles/cmsgafront/ico/favicon.png') }}">
    {% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/cmsgafront/css/bootstrap.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ asset('bundles/cmsgabackfront/web/js/html5shiv.js') }}"></script>
      <script src="{{ asset('bundles/cmsgabackfront/web/js/respond.min.js') }}"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'><link href='http://fonts.googleapis.com/css?family=Chau+Philomene+One' rel='stylesheet' type='text/css'>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50092299-1', 'gov.ar');
      ga('send', 'pageview');
    </script>
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Chau+Philomene+One' rel='stylesheet' type='text/css'>
    <style type="text/css" media="screen">
    header {
        margin-top: 60px;
        margin-bottom: 25px;
        -moz-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
        padding-bottom: 10px;background-color: rgba(255, 255, 255, 0.6);
    }
    .marca img {
        width: 100px;
    }
    .marca {
        font-size: 35px;
    }
    h3, header {
        color: #000;
    } 
    h3, h4, header, .titulo {
        font-family: 'Chau Philomene One', sans-serif;
    }
    h3 {
        color: #fff;
    }
    h4 {
        color: #000;
    }
    h1 small {
        font-size: 65%;
        color: #FFF;
    }
    </style>
    </head>
    <body style="background-color:#042F62;">
    <header>
        <div class="container">
            <div class="row">
                <div class="media">
                  <div>
                    <img id="logo" style="height: 126px;" class="media-object" src="{{ asset('bundles/cmsgaback/img/logo-ace.png') }}" alt="LOGO ACE" />
                    <small>Administrador de Contenidos Escalable</small>
                  </div>
                  <div class="media-body">
                    {% block body %}{% endblock %}
                  </div>
                </div>
            </div>
        </div>
    </header>
        {% block footer %}{% endblock %}
    </body>
</html>