{% extends "TwigBundle:Exception:error.html.twig" %}
{% block body %}
        <div class="status"><h3>El servidor retornó el siguiente error "{{ status_code }}".</h3></div>
        <p><h4>Esto se debe a que la petición no puede ser resuelta por el servidor</h4></p>
{% endblock %}
