{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block stylesheets %}
    <link id="bootstrap-style" href="{{ asset('bundles/cmsgaback/js/bootstrap-fileupload/bootstrap-fileupload.min.css') }}" rel="stylesheet">
{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/cmsgaback/js/bootstrap-fileupload/bootstrap-fileupload.min.js') }}"></script>
    <script src="{{ asset('bundles/cmsgaback/js/tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="/bundles/cmsgaback/js/addForm.js"></script>
    <script type="text/javascript" src="/bundles/cmsgaback/js/noticia.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			if ($('#cmsga_backbundle_seccion_urlExterna').prop('checked')) {
				$("#urlExterna").removeClass("ocultar");
				$("#urlExterna").addClass("mostrar");
				$("#cmsga_backbundle_seccion_url").prop('required', 'required');
			} else {
				$("#urlExterna").removeClass("mostrar");
				$("#urlExterna").addClass("ocultar");
				$("#cmsga_backbundle_seccion_url").prop('required', false);
			}
		});
		$('#cmsga_backbundle_seccion_urlExterna').click(function(event) {
			if ($("#urlExterna").hasClass("ocultar")) {
				$("#urlExterna").removeClass("ocultar");
				$("#urlExterna").addClass("mostrar");
				$("#cmsga_backbundle_seccion_url").prop('required', 'required');
			} else {
				$("#urlExterna").removeClass("mostrar");
				$("#urlExterna").addClass("ocultar");
				$("#cmsga_backbundle_seccion_url").prop('required', false);
			}
		});
	</script>
{% endblock %}