{% extends "::base.html.twig" %}
{% block title %}SCGP: {% block backTitle %}{% endblock %}{% endblock %}

{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ACE. Sitios a Medida, Administrador de Contenidos Escalable">
    <meta name="author" content="ACE">
    <link rel="shortcut icon" href="{{ asset('bundles/cmsgafront/sitio1/ico/favicon.png') }}">
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/cmsgafront/sitio1/css/contacto.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/sitio1/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/sitio1/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/sitio1/css/frontend.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'> 
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ asset('bundles/cmsgafront/sitio1/web/js/html5shiv.js') }}"></script>
      <script src="{{ asset('bundles/cmsgafront/sitio1/web/js/respond.min.js') }}"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Rubik+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'><link href='http://fonts.googleapis.com/css?family=Chau+Philomene+One' rel='stylesheet' type='text/css'>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63270979-1', 'auto');
      ga('send', 'pageview');
    </script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/cmsgafront/sitio1/web/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/cmsgafront/sitio1/web/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script>$('.carousel').carousel()</script>
{% endblock %}

{% block body %}
    <!-- Fixed navbar -->
    {% block menu %}
        {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'menu', 'level': 1})) }}
    {% endblock %}
    <!-- Container -->
    {% block container %}
        <!-- Header -->
        <header>
            <div class="container-fluid">
                <!--<div class="row">-->
                    <!--<div class="col-lg-12 col-md-12 col-sm-12">-->
                        {% block carousel %}
                            {{ render(controller("CmsGaFrontBundle:Default:carousel")) }}
                        {% endblock %}
                    <!--</div>-->
                <!--</div>-->
            </div>
        </header>
        <!-- Main component for a primary marketing message or call to action -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3">
                    {% block izquierda %}
                        {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'direcciones', 'level': 1})) }}
                        {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'enlacesizq', 'level': 1})) }}
                        {{ render(controller("MWSimpleCountVisitBundle:Default:index")) }}
                    {% endblock %}
                </div>
                <div class="col-lg-10 col-md-9 col-sm-9">
                    {% block content %}
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-8">
                                {% for type, flashMessages in app.session.flashbag.all() %}
                                    {% for flashMessage in flashMessages %}
                                        <div class="alert alert-{{ type }}">
                                            {{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% block medio %}{% endblock %}
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4">
                                {% block derecha %}
                                    {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'enlaces', 'level': 1})) }}
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div> <!-- /container -->
    {% endblock %}
{% endblock %}

{% block footer %}
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="#">
                        <img class="media-object" src="{{ asset('bundles/cmsgafront/sitio1/img/scgp.png') }}" alt="scgp" style="width: 45px;margin: 0 auto;">
                    </a>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <h4>Subsecretaría de <strong>COORDINACIÓN Y GESTIÓN PÚBLICA</strong></h4>
                    <p>Dirección: Marcelo T. de Alvear 145. 6° Piso - Oficina N° 14</p>
                    <p>Teléfono: +54 362 - 4456416 - Interno: 7353/6416</p>
                </div>
                <!-- Social -->
                {#<div class="social">
                    <a href="#" target="_blank">
                        <img src="{{ asset('bundles/cmsgafront/sitio1/web/img/facebook.png') }}">
                    </a>
                    <a href="#" target="_blank">
                        <img src="{{ asset('bundles/cmsgafront/sitio1/web/img/plus.png') }}">
                    </a>
                    <a href="#" target="_blank">
                        <img src="{{ asset('bundles/cmsgafront/sitio1/web/img/twitter.png') }}">
                    </a>
                </div>#}
            </div>
        </div>
    </footer>
{% endblock %}

{% block bodyjavascripts %}
    <script type="text/javascript">
        $('.mwstooltip').tooltip(); //tooltip
    </script>
{% endblock %}
