{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}
{% block page %}
    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> Perfil
        </div>
        <div class="panel-body">
            {% block fos_user_content %}
                {% include "FOSUserBundle:Profile:show_content.html.twig" %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}
