<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <label class="control-label">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</label>
        <div class="form-control">                  
            <span class="input-xlarge uneditable-input">{{ user.username }}</span>        
        </div>
    </div>    
    <div class="col-lg-6 col-md-6 col-sm-6">
        <label class="control-label">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</label>
        <div class="form-control">                  
            <span class="input-xlarge uneditable-input"> {{ user.email }}</span>        
        </div>
    </div>     
</div>
