{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block form %}    
    
    {% form_theme form 'CmsGaBackBundle:Form:form-noticia.html.twig' %}
    {{ form(form) }}
    <br><br>
    <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone" id="myDropzone"></form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/cmsgaback/dropzone4.2/min/basic.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgaback/dropzone4.2/min/dropzone.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    {{ parent() }}

    {{ form_javascript(form) }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/cmsgaback/js/tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/addForm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/noticia.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/selectPage.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/dropzone4.2/min/dropzone.min.js') }}"></script>
    <script type="text/javascript">
      // myDropzone is the configuration for the element that has an id attribute
      // with the value my-dropzone (or myDropzone)
      Dropzone.options.myDropzone = {
        init: function() {
          this.on("addedfile", function(file) {
            // Create the remove button
            var removeButton = Dropzone.createElement("<button class='btn btn-danger btn-xs'>Borrar</button>");
            // Capture the Dropzone instance as closure.
            var _this = this;
            // Listen to the click event
            removeButton.addEventListener("click", function(e) {
              // Make sure the button click doesn't submit the form:
              e.preventDefault();
              e.stopPropagation();
              // Remove the file preview.
              _this.removeFile(file);
              // If you want to the delete the file on the server as well,
              // you can do the AJAX request here.
            });
            // Add the button to the file preview element.
            file.previewElement.appendChild(removeButton);
          }),
          this.on("success", function(file, responseText) {
            if ($("#cmsga_backbundle_noticia_realpaths").val() == "") {
                $("#cmsga_backbundle_noticia_realpaths").val(responseText.realpath);
            } else {
                var addRealpath = $("#cmsga_backbundle_noticia_realpaths").val() + "," + responseText.realpath;
                $("#cmsga_backbundle_noticia_realpaths").val(addRealpath);
            }
          });
        }
      };
    </script>
{% endblock %}