{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('bundles/cmsgaback/lightbox/css/lightbox.css') }}" rel="stylesheet">
{% endblock %}

{% block page %}

    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label class="control-label">Fecha</label>
                    <div class="form-control">                  
                        <span class="input-xlarge uneditable-input">{{ entity.fecha|date('d/m/Y H:i') }}</span>        
                    </div>
                </div>    
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label class="control-label">Publicada</label>
                    <div class="form-control">                  
                        <span class="input-xlarge uneditable-input">{{ isActive(entity.publicado)}}</span>        
                    </div>
                </div>    
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label class="control-label">Portada</label>
                    <div class="form-control">                  
                        <span class="input-xlarge uneditable-input">{{ isActive(entity.portada) }}</span>        
                    </div>
                </div>    
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label class="control-label">Destacada</label>
                    <div class="form-control">                  
                        <span class="input-xlarge uneditable-input">{{ isActive(entity.destacada) }}</span>        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label class="control-label">Título</label>
                    <div class="form-control">                  
                        <span class="input-xlarge uneditable-input">{{ entity.titulo }}</span>        
                    </div>
                </div>    
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label class="control-label">Descripción</label>
                    <div class="well">                  
                        {{ entity.descripcion }}    
                    </div>
                </div>    
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <label class="control-label">Contenido</label>
                    <div class="well">{{ entity.contenido|raw }}</div>   
                </div>    
            </div>
            {% if entity.imagenPortada is not null or entity.imagenes|length > 0 %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label class="control-label">Imagenes</label><br>
                        {% if entity.imagenPortada is not null%}
                            <label class="control-label">Portada</label><br>
                            <a class="example-image-link" href="{{ asset(entity.imagenPortada.webPath) }}" data-lightbox="notica-ImagenPortada-set" data-title="{{entity.imagenPortada.descripcion}}">
                                <img class="example-image" src="{{ asset(entity.imagenPortada.webPath) | imagine_filter('thumbnail') }}" alt=""/>
                            </a>
                            <br> <br>
                        {% endif %}    
                        {% for imagen in entity.imagenes %}
                            <a class="example-image-link" href="{{ asset(imagen.webPath) }}" data-lightbox="notica-Imagen-set" data-title="{{imagen.descripcion}}">
                                <img class="example-image" src="{{ asset(imagen.webPath) | imagine_filter('thumbnail') }}" alt=""/>
                            </a>
                        {% endfor %}
                    </div>    
                </div>  
            {% endif %}  
            {% if entity.videos|length > 0 %}
                <br>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label class="control-label">Videos</label><br>

                        <div class="row">
                            {% for video in entity.videos %}
                                <div class="col-md-4">
                                    <div class="embed-responsive embed-responsive-4by3">
                                        {{video.codigoIframe|raw}}
                                    </div>
                                </div><!--.col -->
                            {% endfor %}
                        </div><!--./row -->
                    </div>
                </div>
            {% endif %}
            {% if entity.archivo %}
                {% if entity.archivo.filePath is not null %}  
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label">Archivo</label><br> 

                            <a class="btn btn-default btn-lg glyphicon glyphicon-save" href="{{ asset(entity.archivo.webPath) }}" download="{{ entity.archivo.descripcion }}">

                            </a>
                        </div>
                    </div>  
                </div>  
            {% endif %}
        {% endif %}
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script src="{{ asset('bundles/cmsgaback/lightbox/js/lightbox.min.js') }}"></script>
{% endblock %}