{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}
{% block form %}    
    {% form_theme edit_form 'CmsGaBackBundle:Form:form-ConfigFace.html.twig' %}
    {{ form(edit_form) }}
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/addForm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/addPageFace.js') }}"></script>
{% endblock %}  
