{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ seccion.item.title }}{% endblock %}

{% block seccionTitulo %}{{ seccion.item.title }}{% endblock %}

{% block seccionDescripcion %}Listados noticias, eventos y mas...{% endblock %}

{% block medio %}
    <section class="blog-section section style-four style-five">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    {% block contenidoOrganizacion  %}
                        {{ seccion.contenido|raw }}
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    {{ render(controller('CmsGaFrontBundle:Noticia:noticiaslista', {
                        'sec': seccion.url, 'view': 'listaNoticias', 'pagina': page
                    })) }}
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="right-side">
                        <div class="categorise-menu">
                            {{ include("@dirname/Plantilla/seccionLateralSubmenu.html.twig") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}