{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ seccion.item.title }}{% endblock %}

{% block seccionTitulo %}{{ seccion.item.title }}{% endblock %}

{% block seccionDescripcion %}{% endblock %}

{% block medio %}  
    <section class="blog-section section style-four style-five">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    {% include "@dirname/Form/macro-seccion.html.twig" with { 'seccion' : seccion } %}
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="right-side">
                        <div class="categorise-menu">
                            {{ include("@dirname/Plantilla/seccionLateralBlog.html.twig") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
