{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ seccion.item.title }}{% endblock %}

{% block seccionTitulo %}{{ seccion.item.title }}{% endblock %}

{% block seccionDescripcion %}{% endblock %}
{% block medio %} 
    <link href="{{ asset('bundles/cmsgafront/cpce/css/listado.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/cpce/css/plantilla_imagen.css') }}" rel="stylesheet">
    <br>
    <section class="blog-section section style-four style-five service-overview">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    {% include "@dirname/Form/macro-seccion.html.twig" with { 'seccion' : seccion } %}
                    {% for key,noticia in seccion.noticias  %}
                        <div class="row carousel-row">
                            <div class="col-xs-12 slide-row">
                                <div  class="carousel slide slide-carousel">
                                    <!-- Wrapper for slides -->
                                    <ul class="portfolio-items ">
                                        <li class="portfolio-item apps">
                                            {% if (noticia.imagenes|length) > 0 and noticia.imagenes[0].webPath is not null %}
                                                <a class="example-image-link-{{key}}" href="{{ asset(noticia.imagenes[0].webPath) }}" data-lightbox="notica-Imagen-{{key}}-set" data-title="{{ noticia.imagenes[0].descripcion }}">
                                                    <img class="example-image-{{key}}" src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagen_300x160')) }}" alt=""/>
                                                </a>
                                            {% else %}
                                                <img src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagen_300x160')) }}" alt="">
                                            {% endif%}
                                        </li>
                                    </ul>
                                </div>
                                <div class="slide-content">
                                    <h4>{{ noticia.titulo }}</h4>
                                    <p>{{ noticia.descripcion }}</p>
                                    <p>{{ noticia.contenido|raw }}</p>
                                </div>
                                {#<div class="slide-footer">
                                    <span class="pull-right buttons">
                                        <button class="btn btn-sm btn-default"><i class="fa fa-fw fa-eye"></i> Más Información</button>
                                    </span>
                                </div>#}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="right-side">
                        <div class="categorise-menu">
                            {% include "@dirname/Plantilla/seccionLateralComun.html.twig" with { 'seccion' : seccion } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}