{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ seccion.item.title }}{% endblock %}

{% block seccionTitulo %}{% endblock %}

{% block seccionDescripcion %}{% endblock %}

{% block medio %}
    <section class="blog-section section style-four style-five service-overview">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="content-block">
                        <h2>{{ seccion.item.title }}</h2>
                        {% include "@dirname/Form/macro-seccion.html.twig" with { 'seccion' : seccion } %}
                        <ul>
                            {% for noticia in seccion.noticias  %}
                                <li>
                                    <a href="{{ path('detalle_noticia', { 'id': noticia.id }) }}">{{ noticia.titulo }}</a>
                                    {% if noticia.archivo %}
                                        {% if noticia.archivo.filePath is not null %}
                                            <a class="btn btn-style-two" href="{{ asset(noticia.archivo.webPath) }}">
                                                <i class="fa fa-caret-down"></i>Descargar
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="right-side">
                        <div class="categorise-menu">
                            {% include "@dirname/Plantilla/seccionLateralComun.html.twig" with { 'seccion' : seccion } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}