<br>
<div class="container">
    <div class="row">
        <div class="col-lg-8 btn-group">
            <a href="{{ path('calendario')}}" class="btn btn-default {% if (app.request.get('_route')=='calendario') %}active{% endif %}">Calendario</a>
            <a href="{{ path('listar_eventos')}}" class="btn btn-default {% if (app.request.get('_route')=='listar_eventos') %}active{% endif %}">Congresos y Jornadas</a>
            <a href="{{ path('listar_cursos')}}" class="btn btn-default {% if (app.request.get('_route')=='listar_cursos') %}active{% endif %}">Charlas/Cursos/Seminarios/Talleres</a>
            <a href="{{ path('listar_actividad')}}" class="btn btn-default {% if (app.request.get('_route')=='listar_actividad') %}active{% endif %}">Reuniones</a>
        </div>
        {#<div class="col-lg-6 col-md-6 col-sm-6">
            {{ render(controller("CmsGaFrontBundle:Default:buscadorContenido",
                {'prefer': "calendario", 'view': "buscadorCalendario"})) }}
        </div>#}
    </div>
</div>