{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set nameArray = currentPath|split('/') %}
{% set url = nameArray[nameArray|length-1] %}

{% if (seccion.item.children is not empty) %}
    <ul class="categorise-list accesodi">
        {% for item in seccion.item.children %}
            {% if item.seccion.publicado == true %}
                {% if item.title == "Noticias" %}
                {% else %}
                    <li style="background: {{ item.seccion.colorbtn == 'cpce' ? '#194470' : 
                        item.seccion.colorbtn == 'sipres' ? '#194455' : '#1944AB' }};">
                    {% if (item.seccion.urlExterna) %}
                        <a target="_blank" href="{{ item.seccion.url }}">{{ item.title }} <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a>
                    {% else %}
                        <a target="_blank" href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">{{ item.title }} <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a>
                    {% endif %}
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <ul class="categorise-list agenda">
        {% if (seccion.item.level != 1) %}
            <li><a href="{{ path('seccion_front', { 'sec': seccion.item.parent.seccion.url }) }}">Volver <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
        {% else %}
            <li><a href="{{ path('inicio') }}">Volver <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
        {% endif %}
    </ul>
{% elseif seccion.item.parent is not null %}
    <ul class="categorise-list agenda">
        <li><a href="{{ path('seccion_front', { 'sec': seccion.item.parent.seccion.url }) }}">Volver <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li>
    </ul>
{% endif %}