<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="2000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for key, item in carousel %}
        <li data-target="#bs-carousel" data-slide-to="{{ key }}" class="{% if key == 0 %}active{% endif %}"></li>
    {% endfor %}
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for key, item in carousel %}
        <div class="item {% if key == 0 %}active{% endif %}">
            {#{ showCarouselInicio(item) }#}
            <img src="{{ asset(item.getWebPath) }}" style="margin: 0 auto" />'

            {% if item.descripcion is not null %}
                <div class="hero" style="text-align:left;">
                    <hgroup>
                        <h1><span>{{ item.descripcion[:200] }}</span></h1>
                        {# <h3>{{ item.descripcion[:200] }}</h3> #}
                    </hgroup>       
                    {# <button class="btn btn-hero btn-lg" role="button">See all features</button> #}
                </div>
            {% endif %}
        </div>
    {% endfor %}
  </div> 
</div>