<div class="contact_area">
  <div class="container">
    <div class="row">
      <div class="contact_section">
        <div class="col-md-6">
            <h1>Contacto</h1>
            <p>SOLICITAR MI SITIO WEB A MEDIDA Y ADMINISTRABLE.</p>
            <div class="contact_form">
                {% for type, flashMessages in app.session.flashbag.all() %}
                    {% for flashMessage in flashMessages %}
                        <div class="alert alert-{{ type }} fade in">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <strong>{{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% if fueEnviado %}
                    <div class="bs-callout">
                        <h3>Datos Enviados</h3>
                        <dl class="dl-horizontal">
                            <dt>Nombre y Apellido:</dt><dd> {{ entity.nombreYapellido }}</dd>
                            <dt>Teléfono:</dt><dd> {{ entity.telefono }}</dd>
                            <dt>E-mail:</dt><dd> {{ entity.email }}</dd>
                            <dt>Mensaje:</dt><dd> {{ entity.mensaje }}</dd>
                        </dl>
                    </div>
                {% else %}
                    <fieldset id="contact_form">
                        {{ form_start(form) }}
                            <label for="correo">
                                {{ form_errors(form.correo) }}
                                {{ form_widget(form.correo, { attr: {'class': 'form-control'}}) }} 
                            </label>
                            <label for="name">
                                {{ form_errors(form.nombreYapellido) }}
                                {{ form_widget(form.nombreYapellido, { attr: {'placeholder':'Ingrese Nombre y Apellido', 'class': 'form-control'}}) }} 
                            </label>
                            <label for="phone">
                                {{ form_errors(form.telefono) }}
                                {{ form_widget(form.telefono, { attr: {'placeholder':'Ingrese Teléfono', 'class': 'form-control'}}) }}
                            </label>
                            <label for="email">
                                {{ form_errors(form.email) }}
                                {{ form_widget(form.email, { attr: {'placeholder':'E-mail', 'class': 'form-control'}}) }}
                            </label>
                            <label for="message">
                                {{ form_errors(form.mensaje) }}
                                {{ form_widget(form.mensaje, { attr: {'placeholder':'Ingrese Mensaje', 'class': 'form-control'}} ) }}
                            </label>
                            <button type="submit" class="submit_btn" id="submit_btn">Enviar</button>
                        {{ form_end(form) }}
                    </fieldset>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="contact_text">
                {#<p>
                    <div class="mapa">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.196592039285!2d-58.98687250000001!3d-27.44925359999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450cf504207af5%3A0xac3c2b986e943d1!2sMarcelo+T.+de+Alvear+145!5e1!3m2!1ses!2sar!4v1401184191289" width="100%" height="250" frameborder="0" style="border:0"></iframe>
                    </div>
                </p>#}
                {{ render(controller("CmsGaFrontBundle:Default:bloque", {'nombre': 'pie_datos'})) }}
                {#
                <h3>Datos</h3>
                <ul class="contact_info">
                    <li><strong>Cel: </strong>(+54) 362-4541076</li>
                    <li><strong>E-mail: </strong><a href="mailto:contacto@aceweb.ga">contacto@aceweb.ga</a></li>
                    <li><strong>Direcci&oacute;n: </strong>Resistencia - Chaco, Argentina</li>
                </ul>
                #}
                <h3>Seguinos</h3>
                <ul class="contact_social">
                    <a href="#"><li><i class="fb fa fa-facebook-square"></i></li></a>
                    <a href="#"><li><i class="tw fa fa-twitter-square"></i></li></a>
                    <a href="#"><li><i class="rss fa fa-rss-square"></i></li></a>
                    <a href="#"><li><i class="gp fa fa-google-plus-square"></i></li></a>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div> 
</div><!-- contact area end   -->