<div class="row">
    <!-- The carousel -->
    <div id="transition-timer-carousel" class="carousel slide transition-timer-carousel" data-ride="carousel" style="padding-top: 15px">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for key,imagenPortada in carousel %}
                {% if imagenPortada.noticia is not null %}
                    <div class="item {% if key == 0 %}active{% endif %}" style="height:400px">
                        <a class="tituloNoticeCarrousel" href="{{ path('detalle_noticia', { 'id': imagenPortada.noticia.id }) }}">
                            {% if imagenPortada.webPath is not null %}
                                <img src="{{ asset(imagenPortada.webPath|imagine_filter('imagen_ancho1100')) }}" style="margin: 0 auto;" alt="{{ imagenPortada.noticia.titulo }}" />
                            {% else %}
                                <img src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagen_ancho1100')) }}" style="margin: 0 auto;" alt="Imagen predefinida" />
                            {% endif %}
                        </a>
                        <div class="carousel-caption">
                            <a class="tituloNoticeCarrousel" href="{{ path('detalle_noticia', { 'id': imagenPortada.noticia.id }) }}">
                                <h2 class="carousel-caption-header">{{ imagenPortada.descripcion }}</h2>
                            </a>
                            {#<p class="carousel-caption-text hidden-sm hidden-xs">
                                {{ imagenPortada.descripcion[:100] ~ '...' }}
                            </p>#}
                        </div>
                    </div>
                {% elseif imagenPortada.calendario is not null %}
                    <div class="item {% if key == 0 %}active{% endif %}" style="height:400px;">
                            {% if imagenPortada.calendario is evento %}
                                <a class="tituloNoticeCarrousel" href="{{ path('detalle_evento', { 'id': imagenPortada.calendario.id }) }}">
                            {% elseif  imagenPortada.calendario is actividad %}
                                <a  href="{{ path('detalle_actividad', { 'id': imagenPortada.calendario.id }) }}">
                            {% elseif  imagenPortada.calendario is curso %}
                                <a class="tituloNoticeCarrousel" href="{{ path('detalle_curso', { 'id': imagenPortada.calendario.id }) }}">
                            {% endif %}
                                    {% if imagenPortada.webPath is not null %}
                                        <img src="{{ asset(imagenPortada.webPath|imagine_filter('imagen_ancho1100')) }}" style="margin: 0 auto;" alt="{{ imagenPortada.calendario.title }}" />
                                    {% else %}
                                        <img src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagen_ancho1100')) }}" style="margin: 0 auto;" alt="Imagen predefinida" />
                                    {% endif %}
                                </a>
                            <div class="carousel-caption">
                                {% if imagenPortada.calendario is evento %}
                                    <a class="tituloNoticeCarrousel" href="{{ path('detalle_evento', { 'id': imagenPortada.calendario.id }) }}">
                                        <h1 class="carousel-caption-header">{{ imagenPortada.calendario.title }}</h1>
                                    </a>
                                {% elseif  imagenPortada.calendario is actividad %}
                                    <a class="tituloNoticeCarrousel" href="{{ path('detalle_actividad', { 'id': imagenPortada.calendario.id }) }}">
                                        <h1 class="carousel-caption-header">{{ imagenPortada.calendario.title }}</h1>
                                    </a>
                                {% elseif  imagenPortada.calendario is curso %}
                                    <a class="tituloNoticeCarrousel" href="{{ path('detalle_curso', { 'id': imagenPortada.calendario.id }) }}">
                                        <h1 class="carousel-caption-header">{{ imagenPortada.calendario.title }}</h1>
                                    </a>
                                {% endif %}
                            </div>
                    </div>
                {% else %}
                    <div class="item {% if key == 0 %}active{% endif %}" style="height:400px;">
                        {% if imagenPortada.webPath is not null %}
                            <img src="{{ asset( imagenPortada.webPath|imagine_filter('imagen_ancho1100')) }}" style="margin: 0 auto;" alt="{{ imagenPortada.descripcion[:100] ~ '...' }}" />
                        {% else %}
                            <img src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagen_ancho1100')) }}" style="margin: 0 auto;" alt="Imagen predefinida" />
                        {% endif %}   
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

        <!-- Timer "progress bar" -->
        <hr class="transition-timer-carousel-progress-bar animate" />
    </div>
</div><!--/#main-slider-->