{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}Contacto{% endblock %}

{% block seccionTitulo %}Contacto{% endblock %}

{% block seccionDescripcion %}Listados de e-mail, telefonos y direcciones {% endblock %}

{% block medio %}  
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }} fade in">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <strong>{{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    <section id="contact-page" class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="well">  
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.correo) }}<br>
                                {{ form_errors(form.correo) }}
                                {{ form_widget(form.correo, { attr: {'class': 'form-control'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.nombreYapellido) }}
                                {{ form_errors(form.nombreYapellido) }}
                                {{ form_widget(form.nombreYapellido, { attr: {'placeholder':'Ingrese Nombre y Apellido', 'class': 'form-control'}}) }}  
                            </div>
                            <div class="form-group">
                                {{ form_label(form.email) }}
                                {{ form_errors(form.email) }}
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    {{ form_widget(form.email, { attr: {'placeholder':'Ingrese Correo', 'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(form.telefono) }}
                                {{ form_errors(form.telefono) }}
                                {{ form_widget(form.telefono, { attr: {'placeholder':'Ingrese Teléfono', 'class': 'form-control'}}) }}

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.mensaje) }}
                                {{ form_errors(form.mensaje) }}
                                {{ form_widget(form.mensaje, { attr: {'placeholder':'Ingrese Mensaje', 'class': 'form-control','rows' : '12'}} ) }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                Enviar Mensaje
                            </button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div><!--/.col-sm-8-->

            <div class="col-sm-4">
                <h4>Ubicación</h4>
                <iframe width="100%" height="215" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.5859332458467!2d-58.982853299999995!3d-27.451012299999988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450cf6b6ce196b%3A0x304e037e6a5ec1d8!2sAv+Laprida+756%2C+H3504CBQ+Resistencia%2C+Chaco!5e0!3m2!1ses-419!2sar!4v1436457118189" ></iframe>
            </div><!--/.col-sm-4-->
        </div>
        <div class="row">
            <h5>Correos</h5>
            {% set contador= 0%}
            <div class="col-sm-4">
                <dl>
                    {%for correo in correos %}
                        <dt> {{correo.descripcion}}</dt>                        
                        <dd>{{correo.correo}}</dd>
                        {% set contador= contador+1%}
                        {%if contador== 6%}
                        </dl>                                
                    </div>
                    <div class="col-sm-4">
                        <dl>
                            {% set contador= 0%}
                        {%endif%}
                    {%endfor%}
                </dl>
            </div><!--/.col-sm-8-->
        </div>
    </section><!--/#contact-page-->
{% endblock %}
