{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{% endblock %}

{% block paginaTitulo %}{% endblock %}
{% block stylesheets %}   
    {{ parent() }}
    <link href="{{ asset('bundles/cmsgafront/cpce/css/formLogin.css') }}" rel="stylesheet">
    <style type="text/css">
        .thumbnail{
            background-color: transparent !important;
            border: 0px !important;
        }

        .post
        {
            background-color: #FFF;
            overflow: hidden;
            box-shadow: 0 0 1px #CCC;
        }
        .post .content
        {
            padding: 15px;
        }
        .post .author
        {
            font-size: 11px;
            color: #737373;
            padding: 25px 30px 20px;
        }
        .post .post-img-content
        {
            height: 160px;
            position: relative;
        }
        .post .post-img-content img
        {
            position: absolute;
        }
        .post .post-title
        {
            display: table-cell;
            vertical-align: bottom;
            z-index: 2;
            position: relative;
        }
        .post .post-title b
        {
            background-color: rgba(51, 51, 51, 0.58);
            display: inline-block;
            margin-bottom: 5px;
            color: #FFF;
            padding: 10px 15px;
            margin-top: 5px;
        }
    </style>
{% endblock %}
{% block medio %}   
    <div class="container">
    
        <div class="row">
            <div class="col-md-12">
                {{ render(controller("CmsGaFrontBundle:Default:carousel")) }}
                <div class="row">
                    <br>
                    <div class="col-md-12">
                        <div class="jumbotron" style="text-align: center">
                            <h2>ADN Agro, el origen de la rentabilidad agropecuaria</h2>
                            <hr>
                            <p class="lead">El campo argentino está atravesando por una etapa de grandes cambios de paradigmas. Las estructuras tradicionales de producción y servicios son constantemente discutidas y puestas a prueba.

                                El principal factor que está moviendo los cimientos productivos, es la tecnología del conocimiento; es decir la utilización sistemática del conocimiento adquirido a través del tiempo y el espacio, mediante la potencia de manejo de datos que la informática nos provee a muy bajos costos.

                                La agricultura y ganadería de precisión, son un ejemplo viviente de estos cambios. La utilización correcta de insumos cada vez más costosos, hace que las herramientas de manejo de información geo-referenciada sean de gran utilidad en estos tiempos.

                                La fruticultura y horticultura, no escapan a esta realidad y la trazabilidad de las producciones hacen que se puedan certificar todas las buenas prácticas de producción, que hoy tienen mucho más valor para el consumidor.

                                La distribución de insumos y la prestación de servicios agronómicos, está dentro de este contexto y sufrirá los mismos desafíos.

                                Para mejorar la rentabilidad del negocio agropecuario e identificar las fortalezas de cada explotación en la región NEA, nace al mercado la Empresa ADN Agro.

                                Su misión principal es la de acercar al productor y empresario, las mejores herramientas de insumos y servicios, para lograr la tan ansiada rentabilidad; sin dejar de lado el respeto por el ambiente y el desarrollo de las personas.</p>
                            
                        </div>
                    </div>
                </div>
                {% if (destacadas|length) > 1 or (noticias|length) > 1%}
                <div class="row">             
                    <br>
                    <div class="col-md-9">
                        <section>
                            <div class="row ">
                                <div class="col-sm-12 col-lg-12 col-md-12 alizarin separador separadorCategoria text-center">
                                    <p><strong>Noticias</strong></p>
                                </div>
                                {% for noticia in destacadas %}
                                    {% if (destacadas|length) > 1 %}
                                        <div class="col-sm-6 col-lg-6 col-md-6 separadorBorder">
                                            <div class="text-left" style="height: 20px;">
                                                <span><i class="icon-calendar"></i> 
                                                    {{ noticia.fecha|localizeddate('long', 'none') }}
                                                </span>
                                            </div>
                                            <div class="post">
                                                <a href="{{ path('detalle_noticia', { 'id': noticia.id }) }}">
                                                    <div class="post-img-content">
                                                        {% if (noticia.imagenes|length) > 0 and noticia.imagenes[0].webPath is not null %}
                                                            <img src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagenout_300x160')) }}" class="img-rounded" />
                                                            <span class="post-title">
                                                                <b>{{ noticia.titulo }}</b>
                                                            </span>
                                                        {% else %}
                                                            <img src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagenout_300x160')) }}" class="img-rounded" />
                                                            <span class="post-title">
                                                                <b>{{ noticia.titulo }}</b>
                                                            </span>
                                                        {% endif %}
                                                    </div>
                                                </a>
                                            </div>
                                            <br>
                                        </div>
                                    {% else %}
                                        <div class="col-sm-12 col-lg-12 col-md-12 separadorBorder">
                                            <div class="text-center" style="height: 20px;">
                                                <span><i class="icon-calendar"></i> 
                                                    {{ noticia.fecha|localizeddate('long', 'none') }}
                                                </span>
                                            </div>
                                            <div class="post" style="margin-left: 160px; margin-right: 167px;">
                                                <a href="{{ path('detalle_noticia', { 'id': noticia.id }) }}">
                                                    <div class="post-img-content">
                                                        {% if (noticia.imagenes|length) > 0 and noticia.imagenes[0].webPath is not null %}
                                                            <img src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagenout_300x160')) }}" class="img-rounded" />
                                                            <span class="post-title">
                                                                <b>{{ noticia.titulo }}</b>
                                                            </span>
                                                        {% else %}
                                                            <img src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagenout_300x160')) }}" class="img-rounded" />
                                                            <span class="post-title">
                                                                <b>{{ noticia.titulo }}</b>
                                                            </span>
                                                        {% endif %}
                                                    </div>
                                                </a>
                                            </div>
                                            <br>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            
                                {% for noticia in noticias %}
                                    <div class="col-sm-4 col-lg-4 col-md-4 separadorBorder">
                                        <div class="thumbnail">
                                            <a href="#" data-target="#cpce_modal_{{ noticia.id }}" data-toggle="modal">
                                                {% if (noticia.imagenes|length) > 0 and noticia.imagenes[0].webPath is not null %}
                                                    <img class="img-thumbnail" src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagenout_300x160')) }}"/>
                                                {% else %}
                                                    <img class="img-thumbnail" src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagenout_300x160')) }}"/>
                                                {% endif %}
                                            </a>
                                            <div class="caption" style="background: #ffffff; height: 120px;">
                                                <div class="text-left" style="height: 15px; font-size: smaller;">
                                                    <span> 
                                                        {{ noticia.fecha|localizeddate('long', 'none', app.request.locale ) }}
                                                    </span>
                                                </div>
                                                <a href="{{ path('detalle_noticia', {'id': noticia.id }) }}">
                                                    <div class="titulo noticia text-left" style="height: 15px;">
                                                        <h7 class="tituloNoticia" style="font-size: small; font-weight: bold;">
                                                            {{ noticia.titulo[:45] ~ '...'  }}
                                                        </h7>
                                                        <hr style="margin-top: 0px; margin-bottom: 0px;"/>
                                                        <p style="font-size: small;">
                                                            ver más ....
                                                        </p>
                                                    </div>
                                                </a>    
                                                <div class="text-right" style="padding-top: 40px;">
                                                    <h7 class="tituloNoticia text-right" style="font-size: small; font-weight: bold;">
                                                        {{ noticia.seccion }}
                                                    </h7>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <!-- modal-noticia -->
                                    <div class="modal fade" id="cpce_modal_{{ noticia.id }}" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <em><strong>{{ noticia.seccion }}</strong></em>
                                                    <h3 class="modal-title">"{{ noticia.titulo }}"</h3>
                                                    <small>{{ noticia.descripcion }}</small>
                                                    <hr>
                                                </div>
                                                <div class="modal-body">
                                                    {% if (noticia.imagenes|length) > 0 and noticia.imagenes[0].webPath is not null %}
                                                        <img class="img-thumbnail" src="{{ asset(noticia.imagenes[0].webPath) }}" />
                                                    {% endif %}
                                                    {{ noticia.contenido|raw }}
                                                </div>
                                                <div class="modal-footer">

                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div><!-- /.modal -->

                                {% endfor %}
                            </div>

                        </section>
                    </div>                  

                </div>
                {% endif %}
            </div>
            <div class="col-md-9">
                <div class="row">                    
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">                    
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="{{ path('calendario')}}">
                                <h4 class="text-center tituloColumna verMas">Agenda</h4>
                            </a>
                            {{ render(controller('CmsGaFrontBundle:Evento:recentEventos', {
                                'max': 10
                            })) }}
                            {{ render(controller('CmsGaFrontBundle:Actividad:recentActividades', {
                                'max': 10
                            })) }}
                            {{ render(controller('CmsGaFrontBundle:Curso:recentCursos', {
                                'max': 10
                            })) }}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <section id="services" >
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 socialItem" style="background-color: #47B2F7;">
                    <div class="media">
                        <div class="pull-left">
                            <a href="https://www.linkedin.com/in/pablo-casas-8929646b" ><i class="icon-linkedin icon-md" style="display: block;"></i></a>
                        </div>
                        <div class="media-body" >
                            <h3 class="media-heading">ADN AGRO</h3>
                            <p>Perfil en Linkedin</p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
                
                <div class="col-md-6 col-sm-6 socialItem" style="background-color: #006EB1;">
                    <div class="media">
                        <div class="pull-left">
                            <a href="{{ path('contacto_cmsga')}}" ><i class="icon-book icon-md" style="display: block;"></i></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Contacto</h3>
                            <p>Lista de e-mail y teléfonos<br></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#services-->

{% endblock %}

{% block bodyjavascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            //Events that reset and restart the timer animation when the slides change
            $("#transition-timer-carousel").on("slide.bs.carousel", function (event) {
                //The animate class gets removed so that it jumps straight back to 0%
                $(".transition-timer-carousel-progress-bar", this)
                        .removeClass("animate").css("width", "0%");
            }).on("slid.bs.carousel", function (event) {
                //The slide transition finished, so re-add the animate class so that
                //the timer bar takes time to fill up
                $(".transition-timer-carousel-progress-bar", this)
                        .addClass("animate").css("width", "100%");
            });
            //Kick off the initial slide animation when the document is ready
            $(".transition-timer-carousel-progress-bar", "#transition-timer-carousel")
                    .css("width", "100%");
           
            $(".verMas").hover(
                    function () {
                        resgTitulo = $(this).text();
                        $(this).text($(this).text() + ' ver más...');
                    }, function () {
                $(this).text(resgTitulo);
            }
            );


        });
    </script>
{% endblock %}