<ul class="nav nav-pills nav-stacked nav-banner">
    {% if (menu.items is defined) %}
        {% for item in menu.items %}
            {% if item.seccion.imagenes|length > 0 %}
                <li class="mwstooltip" data-toggle="tooltip" data-placement="top" title="{{ item.name|upper }}">
                    <div class="row">
                        {% if item.seccion.urlExterna %}
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <a href="{{ item.seccion.url }}" target="_blank">
                                    <img alt="item.seccion.imagenes[0].descripcion" src="{{ asset(item.seccion.imagenes[0].webPath|imagine_filter('imagenout_300x160')) }}">
                                </a>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <a href="{{ item.seccion.url }}" target="_blank">
                                    {{ item.title|upper }}
                                </a>
                            </div>
                        {% else %}
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}" target="_blank">
                                    <img alt="item.seccion.imagenes[0].descripcion" src="{{ asset(item.seccion.imagenes[0].webPath|imagine_filter('imagenout_300x160')) }}">
                                </a>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}" target="_blank">
                                    {{ item.title|upper }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% else %}
                {% if item.seccion.urlExterna %}
                    <li class="mwstooltip enlace" data-toggle="tooltip" data-placement="top" title="{{ item.name|upper }}">
                        <a class="enlace" href="{{ item.seccion.url }}" target="_blank">{{ item.title|upper }}</a>
                    </li>
                {% else %}
                    <li class="mwstooltip enlace" data-toggle="tooltip" data-placement="top" title="{{ item.name|upper }}">
                        <a class="enlace" href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">{{ item.title|upper }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>