{% block menu %}
    <link href="{{ asset('bundles/cmsgafront/cpce/css/menu.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/cpce/css/formBuscar.css') }}" rel="stylesheet">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="logo">
                    <a href="{{ path('inicio') }}"><img src="{{ asset('bundles/cmsgafront/adnagroweb/images/adnagrologo.png') }}" alt="CPCE" ></a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <header id="menuPrincipal" role="banner">
                    <div class="container">
                        <div class="row">
                            <div class="btn-group btn-group-justified" >
                                <div id="logoHome" >
                                    <a href="{{ path('inicio') }}"><img src="{{ asset('bundles/cmsgafront/adnagroweb/images/adnagrologo.png') }}" alt="CPCE" ></a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn btn-nav" data-url="{{ path('inicio') }}" href="{{ path('inicio') }}"> <span class="icon-home" style="font-size: 50px"></span></a>
                                                    </div>
                                {% if (menu.items is defined) %}
                                    {% for key,item in menu.items %}
                                        {% if item.children is empty %}
                                            {% if item.seccion.publicado == true %}
                                                {% if item.seccion.urlExterna %}
                                                    <div class="btn-group">
                                                        <a class="btn btn-nav" data-url="{{ item.seccion.url }}" href="{{ item.seccion.url }}" target="_blank">{{ item.title|upper }}</a>
                                                    </div>
                                                {% else %}
                                                    <div class="btn-group">
                                                        <a class="btn btn-nav" data-url="{{ item.seccion.url }}" href="{{ path('seccion_front', { 'sec': item.seccion.url}) }}"><p>{{ item.title|upper }}</p></a></li>
                                                    </div>        
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <div class="btn-group">
                                                <a class="btn btn-nav" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><p>{{ item.title|upper }} <b class="caret"></b></p></a>
                                                <ul class="dropdown-menu">
                                                    {% for children in item.children %}
                                                        {% if children.seccion.publicado==true %}
                                                            {% if children.seccion.urlExterna %}
                                                                <li><a class="btn-nav" href="{{ children.seccion.url }}" data-url="{{ children.seccion.url }}" target="_blank">{{ children.title }}</a></li>
                                                                {% else %}
                                                                <li>
                                                                    {%if children.title == "Noticias"%}
                                                                        <a class="btn-nav" data-url="{{ children.seccion.url }}" href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">
                                                                            {{children.title }}
                                                                        </a>
                                                                    {%else%}
                                                                        <a class="btn-nav" data-url="{{ children.seccion.url }}" href="{{ path('seccion_front', { 'sec': children.seccion.url }) }}">
                                                                            {{children.title }}
                                                                        </a>
                                                                    {%endif%}
                                                                </li>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>   
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {#<div class="btn-group">
                                    <a class="btn btn-nav" href="{{ path('listar_eventos')}}"><p>EVENTOS</p></a> 
                                </div>#}
                                <div class="btn-group">
                                    <a class="btn btn-nav" href="{{ path('contacto_cmsga')}}"><p>CONTACTO/SUGERENCIA</p></a> 
                                </div>                                
                                <div class="btn-group">
                                    <a class="btn btn-nav btnBuscar" type="button">
                                        <p><i class="icon-search"></i></p>
                                    </a>
                                </div>
                            </div> 
                        </div>
                    </div>
                </header>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div id="formBuscar" class="formBuscar">
        {{ render(controller("CmsGaFrontBundle:Default:buscadorContenido")) }}
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formBuscar").hide();
        });
        $(".btnBuscar, #btnCerraformBuscar").click(function () {
            $("#formBuscar").slideToggle();
        });
    </script>
{% endblock %}
