{% extends "::base.html.twig" %}
{% block title %}CPCE {% block backTitle %}{% endblock %}{% endblock %}

{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CPCE">
    <meta name="author" content="CPCE">
    <link rel="shortcut icon" href="{{ asset('bundles/cmsgafront/cpce/ico/favicon.ico') }}">
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('nuevaweb/plugins/slick/slick.css') }}" rel="stylesheet">
    <link href="{{ asset('nuevaweb/plugins/slick/slick-theme.css') }}" rel="stylesheet">
    <link href="{{ asset('nuevaweb/plugins/fancybox/jquery.fancybox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('nuevaweb/css/style.css') }}" rel="stylesheet">
    <style>.badge{ background-color: #0B2251;}</style>

    {#
    <link href="{{ asset('bundles/cmsgafront/cpce/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/cpce/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/cpce/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/cpce/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/cpce/css/mainRecargado.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgaback/lightbox/css/lightbox.css') }}" rel="stylesheet">
    #}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-63270979-1', 'auto');
        ga('send', 'pageview');
    </script>
{% endblock %}

{% block javascripts %}
    {# <script src="{{ asset('bundles/cmsgafront/cpce/js/jquery.js') }}"></script> #}
    <script src="{{ asset('nuevaweb/plugins/jquery.js') }}"></script>
{% endblock %}

{% block body %}
    {% block menu %}
        {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'menu_principal', 'level': 1})) }}
    {% endblock %}

    {% block container %}
        {% block paginaTitulo %}
            <section id="title" class="emerald">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>{% block seccionTitulo %}{% endblock %}</h1>
                            <p>{% block seccionDescripcion %}{% endblock %}</p>
                        </div>
                    </div>
                </div>
            </section><!--/#title--> 
        {% endblock %}

        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div class="alert alert-{{ type }}">
                    {{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block medio %}{% endblock %}

        <footer class="footer-main">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="about-widget">
                                <div class="footer-logo">
                                <figure>
                                    <a href="{{ path('inicio') }}">
                                        <img src="{{ asset('nuevaweb/images/logo-2.png') }}" alt="CPCE">
                                    </a>
                                </figure>
                                </div>
                                <p>Consejo Profesional de Ciencias Econ&oacute;micas</p>
                                <ul class="list-inline social-icons">
                                    <li><a href="https://www.facebook.com/cpcechaco"><i class="fa fa-facebook"></i></a></li>
                                    {# <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li> #}
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <h6></h6>
                            <ul class="location-link">
                                <li class="item">
                                    <i class="fa fa-map-marker"></i>
                                    <p>Sede Central Pellegrini 212, Resistencia, Chaco</p>
                                </li>
                                <li class="item">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <a href="{{ path('contacto_cmsga') }}">
                                        <p>Lista de correos</p>
                                    </a>
                                </li>
                                <li class="item">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <p>(0362) 4420345 | (0362) 4429803 | (0362) 4424417</p>
                                </li>
                                <li class="item">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <a href="https://api.whatsapp.com/send?phone=5493624309622&text=Nombre%20Apellido%20y%20N%C2%B0%20de%20Matricula%20Profesional&source=&data=">
                                        <p>Whatsapp: (0362) 4309622</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12"></div>
                        <div class="col-md-2 col-sm-6 col-xs-12 datafiscal">
                            <a href="http://qr.afip.gob.ar/?qr=4qp_prmGpKtR7WC1scKkog,," target="_F960AFIPInfo"><img src="https://www.afip.gob.ar/images/f960/DATAWEB.jpg" class="img-responsive" border="0"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            Desarrollo <a href="mailto:sistemas@cpcechaco.org.ar">Gonzalo Alonso</a> &copy; Sistemas CPCE</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
{% endblock %}

{% block bodyjavascripts %}
    {#
    <script src="{{ asset('bundles/cmsgafront/cpce/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/cmsgaback/lightbox/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('bundles/cmsgafront/cpce/js/main.js') }}"></script>

    <script type="text/javascript">
        $('.mwstooltip').tooltip(); //tooltip
        var ruta = location.href.split("/");
        var menu = ruta[ruta.length - 1];
        $(".btn-nav").each(function () {
            if ($(this).data("url") === menu) {
                if ($(this).parent("div").length === 0) {
                    $(this).parent().parent().siblings('a').addClass("active");
                } else {
                    $(this).addClass("active");
                }
            }
        });
        $("#btnSuscipcionCorreo").click(function (e) {
            e.preventDefault();
            $("#formInscripcion").html("<iframe id='doppler_subscription' src='https://app2.fromdoppler.com/Lists/FormProcessing/Form?idForm=x1tXQfntOSYjwPpSazIqzQ%3d%3d' height='600px;' width='100%' scrolling='yes' frameborder='no' style='overflow:scroll'></iframe>");
            $("#myModal").show();
        });
    </script>
    #}
    <script src="{{ asset('nuevaweb/plugins/bootstrap.min.js') }}"></script>
    <script src="{{ asset('nuevaweb/plugins/bootstrap-select.min.js') }}"></script>
    <!-- Slick Slider -->
    <script src="{{ asset('nuevaweb/plugins/slick/slick.min.js') }}"></script>
    <!-- FancyBox -->
    <script src="{{ asset('nuevaweb/plugins/fancybox/jquery.fancybox.min.js') }}"></script>
    <!-- Google Map -->
    {# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script> #}
    {# <script src="{{ asset('nuevaweb/plugins/google-map/gmap.js') }}"></script> #}

    <script src="{{ asset('nuevaweb/plugins/validate.js') }}"></script>
    <script src="{{ asset('nuevaweb/plugins/wow.js') }}"></script>
    <script src="{{ asset('nuevaweb/plugins/jquery-ui.js') }}"></script>
    <script src="{{ asset('nuevaweb/plugins/timePicker.js') }}"></script>
    <script src="{{ asset('nuevaweb/js/script.js') }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}