<div class="buscar">
    {{ render(controller("CmsGaFrontBundle:Default:buscadorContenido")) }}
</div>
{% if (menu.items is defined) %}
    {% for item in menu.items %}
        <div class="box">
            {% if item.seccion.urlExterna %}
                {% if item.seccion.imagenes|length > 0 %}
                    <a href="{{ item.seccion.url }}" target="_blank">
                        <img alt="item.seccion.imagenes[0].descripcion" src="{{ asset(item.seccion.imagenes[0].webPath) }}">
                    </a>
                {% else %}
                    <a href="{{ item.seccion.url }}" target="_blank"><h4>{{ item.title }}</h4></a>
                {% endif %}
            {% else %}
                {% if item.seccion.imagenes|length > 0 %}
                    <a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">
                        <img alt="item.seccion.imagenes[0].descripcion" src="{{ asset(item.seccion.imagenes[0].webPath) }}">
                    </a>
                {% else %}
                    <a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}"><h4>{{ item.title }}</h4></a>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endif %}