{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ title|raw }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/cmsgafront/ias/css/jquery.ias.css') }}" rel="stylesheet">
    <style>
        .ias_trigger a,
        .ias_trigger a:visited{
            background-color: #428BCA !important;
            border: 3px solid #50A6F3 !important;
            border-radius: 2px !important;
            color: #FFFFFF !important;
            display: block !important;
            float: right !important;
            padding: 5px 5px 5px 15px !important;
            width: 100px !important;
        }
        .fecha {
            padding-left: 80px;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cmsgafront/ias/jquery-ias.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            jQuery.ias({
                container : '.listing',
                item: '.post',
                pagination: '#content .navigation',
                next: '.next-posts a',
                loader: '<img style="height:40px; width:40px;" src="{{ asset('bundles/cmsgabackfront/ias/images/loader.gif') }}" />',
                trigger: 'Ver mas',
                onLoadItems: function() {
                    // This will track a pageview every time the user
                    // scrolls up or down the screen to a different page.
                    jQuery('#navigation').remove();
                }
                // triggerPageThreshold: 2
            });
        });
    </script>
{% endblock %}

{% macro contentEntity(key, entity) %}
    <div class="col-md-4">
        <div class="evento">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>{{ entity.title }}</h3>
                </div>
            </div>
            {#<span class="creacion">Creado el 10 de febrero 2014</span>#}
            <span class="fecha">
                Inicio {{ entity.startDatetime|localizeddate('long', 'none') }}<br />
                <span style="font-weight: normal;">&nbsp;&nbsp;&nbsp;&nbsp; Fin &nbsp;{{ entity.endDatetime|localizeddate('long', 'none') }}</span>
            </span>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    {% if (entity.imagenes|length) > 0 %}
                        <img src="{{ asset(entity.imagenes[0].webPath|imagine_filter('eventos_thumb')) }}" />
                    {% endif %}
                </div>
            </div>
            <div class="text-center">
                {{ entity.descripcion }}
            </div>
        </div>
    </div>
{% endmacro %}

{% block container %}
    <div class="titulo">
        <div class="container">{{ title|raw }}</div>
    </div>

    <div class="container">
        <div class="listing">
            <div class="row">
                {% set size = entities | length %}
                {% for key, entity in entities %}
                    {{ _self.contentEntity(key, entity) }}
                {% endfor %}
            </div>
        </div>
        <div id="navigation">
            <ul>
                {#{ knp_pagination_render(entities, "CmsGaBackBundle:Pagination:twitter_bootstrap_scroll.html.twig") }#}
            </ul>
        </div>
        <!-- Button trigger modal -->
        <!-- Modal -->
        {#<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Fotos Noticia</h4>
              </div>
              <div class="modal-body">
                {% if size > 0 %}
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      {% for key,item in noticias[0].imagenes %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{ key }}"
                          {% if key == 0 %}
                              class="active"
                          {% else %}
                              class=""
                          {% endif %}
                        ></li>
                      {% endfor %}
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      {% for key,item in noticias[0].imagenes %}
                        {% if key == 0 %}
                            <div class="item active">
                        {% else %}
                            <div class="item">
                        {% endif %}
                          {{ showCarousel(item) }}
                          <div class="carousel-caption">
                            <p>{{ item.descripcion }}</p>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                  </div>
                {% endif %}
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar ventana</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        </div>
        </div>#}
    </div> <!-- /container -->
{% endblock %}