{% block list %}
    <div class="agenda">
        <span class="agn">Agenda Oficial</span>
        <ul class="agenda">
            {% for actual in actuales %}
                <a href="{{ actual.url }}"><li><span style="font-size: 12px;">{{ actual.startDatetime|localizeddate('medium', 'none') }} {{ actual.fechas[0].horaInicio|date('H:i') ~ 'hs' }}</span> <strong>{{ actual.title }}</strong></li></a>
                {#<a href="{{ actual.url }}"><li class="list-group-item">{{ actual.title }}</li></a>
                {% for fecha in actual.fechas %}
                    <li class="list-group-fecha">{{ fecha.dia|trans({}, 'CmsGaBackBundle') }} <span class="cuando">{{ fecha.horaInicio|date('H:i') ~ 'hs' }}</span></li>
                {% endfor %}#}
            {% endfor %}
            {% for proxima in proximas %}
                <a href="{{ proxima.url }}"><li><span style="font-size: 12px;">{{ proxima.startDatetime|localizeddate('medium', 'none') }} {{ proxima.fechas[0].horaInicio|date('H:i') ~ 'hs' }}</span> <strong>{{ proxima.title }}</strong></li></a>
                {#<a href="{{ proxima.url }}"><li class="list-group-item">{{ proxima.title }} <span class="cuando">{{ proxima.startDatetime|localizeddate('medium', 'none') }}</span></li></a>#}
            {% endfor %}
        </ul>
    </div>
{% endblock %}