{% set abcde = ['colora', 'colorb', 'colorc', 'colord', 'colore', 'colorf'] %}
<div class="row">
	{% if (menu.items is defined) %}
		{% for i, item in menu.items %}
            <div class="col-lg-2 col-md-2 col-sm-6"><div class="colores {{ cycle(abcde, i) }}">
                {% if item.seccion.urlExterna %}
                    {% if item.seccion.imagenes|length > 0 %}
                        <a href="{{ item.seccion.url }}" target="_blank">
                            <img alt="item.seccion.imagenes[0].descripcion" src="{{ asset(item.seccion.imagenes[0].webPath) }}">
                        </a>
                        <h4>{{ item.title }}</h4>
                    {% else %}
                        <a href="{{ item.seccion.url }}" target="_blank"><h4>{{ item.title }}</h4></a>
                    {% endif %}
                {% else %}
                    {% if item.seccion.imagenes|length > 0 %}
                        <a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">
                            <img alt="item.seccion.imagenes[0].descripcion" src="{{ asset(item.seccion.imagenes[0].webPath) }}">
                        </a>
                        <h4>{{ item.title }}</h4>
                    {% else %}
                        <a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}"><h4>{{ item.title }}</h4></a>
                    {% endif %}
                {% endif %}
            </div></div>
		{% endfor %}
	{% endif %}
</div>