{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/cmsgaback/css/pick-a-color-1.2.3.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/cmsgaback/jquery-date-range-picker/daterangepicker.css') }}">
    <script src="{{ asset('bundles/cmsgaback/jquery-date-range-picker/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/cmsgaback/jquery-date-range-picker/daterangepicker.js') }}"></script>
{% endblock %}
{% block form %}
    {% form_theme edit_form 'CmsGaCalendarioBundle:Form:curso-form.html.twig' %}
    {{ form(edit_form) }}
{% endblock %}


{% block javascript %}
    {{parent()}}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/cmsgaback/js/tinycolor-0.9.15.min.js') }}"></script>
    <script src="{{ asset('bundles/cmsgaback/js/pick-a-color-1.2.3.min.js') }}"></script>
    <script type="text/javascript">
        var calendario = "curso";
        $(".pick-a-color").pickAColor();

        var cuentas = jQuery('.cuentas');
        var categorias = jQuery('.categorias');
        var fechas = jQuery('.fechas');
        var mpLinks = jQuery('.mplinks');

        jQuery(document).ready(function () {
            cuentas.data('index', cuentas.find(':input').length);
            categorias.data('index', categorias.find(':input').length);
            fechas.data('index', fechas.find(':input').length);
            mpLinks.data('index', mpLinks.find(':input').length);

            jQuery('.cuentas').delegate('.btnRemoveCuenta', 'click', function (e) {
                // prevent the link from creating a "#" on  the URL
                e.preventDefault();
                // remove the li for the tag form
                jQuery(this).closest('.row').remove();
            });

            jQuery('.categorias').delegate('.btnRemoveCategoria', 'click', function (e) {
                // prevent the link from creating a "#" on  the URL
                e.preventDefault();
                // remove the li for the tag form
                jQuery(this).closest('.row').remove();
            });

            jQuery('.fechas').delegate('.btnRemoveFecha', 'click', function (e) {
                // prevent the link from creating a "#" on  the URL
                e.preventDefault();
                // remove the li for the tag form
                jQuery(this).closest('.row').remove();
            });

            jQuery('.mplinks').delegate('.btnRemoveMpLink', 'click', function (e) {
                // prevent the link from creating a "#" on  the URL
                e.preventDefault();
                // remove the li for the tag form
                jQuery(this).closest('.row').remove();
            });

            jQuery('.add_cuenta').click(function (e) {

                // prevent the link from creating a "#" on the URL                
                e.preventDefault();
                // remove the li for the tag form
                index = addForm(cuentas, jQuery('.cuentas'));

            });

            jQuery('.add_fecha').click(function (e) {

                // prevent the link from creating a "#" on the URL                
                e.preventDefault();
                // remove the li for the tag form
                index = addForm(fechas, jQuery('.fechas'));

            });

            jQuery('.add_categoria').click(function (e) {

                // prevent the link from creating a "#" on the URL                
                e.preventDefault();
                // remove the li for the tag form
                index = addForm(categorias, jQuery('.categorias'));

            });

            jQuery('.add_mplink').click(function (e) {

                // prevent the link from creating a "#" on the URL                
                e.preventDefault();
                // remove the li for the tag form
                index = addForm(mpLinks, jQuery('.mplinks'));

            });

        });
    </script>
    <script src="{{ asset('bundles/cmsgaback/js/tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/addForm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/noticia.js') }}"></script>
    <script src="{{ asset('bundles/cmsgaback/js/fechas.js') }}"></script>    
    <script src="{{ asset('bundles/cmsgaback/js/fecha-inicio-fin.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/selectPage.js') }}"></script>
{% endblock %}