<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenido!{% endblock %}</title>
        {% block head %}<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />{% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <div class="page-wrapper">
            {% block body %}{% endblock %}
            {% block footer %}{% endblock %}
        </div>

        {% block bodyjavascripts %}{% endblock %}
    </body>
</html>