{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('bundles/cmsgaback/lightbox/css/lightbox.css') }}" rel="stylesheet">
{% endblock %}
{% block page %}
    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Título corto para menu</label>
                        <div class="form-control">                  
                            <span class="input-xlarge uneditable-input">{{ entity.item.title }}</span>        
                        </div>
                    </div>        
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Título Detallado</label>
                        <div class="form-control">                  
                            <span class="input-xlarge uneditable-input">{{ entity.item.name }}</span>        
                        </div>
                    </div>        
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Orden</label>
                        <div class="form-control">                  
                            <span class="input-xlarge uneditable-input">{{ entity.item.orden }}</span>        
                        </div>
                    </div>        
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Orden Listado</label>
                        <div class="form-control">                   
                            <span class="input-xlarge uneditable-input">{{ entity.ordenListado }}</span>      
                        </div>
                    </div>  
                </div>

                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="form-group">
                        <label class="control-label">Url</label>
                        <div class="form-control">                   
                            <span class="input-xlarge uneditable-input">{{ entity.url }}</span>      
                        </div>
                    </div>  
                </div>
            </div>

            <div class="row">
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <div class="form-group">
                        <label class="control-label">Publicado</label>
                        <div class="form-control">                   
                            <span class="input-xlarge uneditable-input">{{ isActive(entity.publicado) }}</span>      
                        </div>
                    </div>  
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <div class="form-group">
                        <label class="control-label">Portada</label>
                        <div class="form-control">                   
                            <span class="input-xlarge uneditable-input">{{ isActive(entity.portada) }}</span>      
                        </div>
                    </div>  
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Permite Noticias</label>
                        <div class="form-control">                   
                            <span class="input-xlarge uneditable-input">{{ isActive(entity.permiteNoticias) }}</span>      
                        </div>
                    </div>  
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Url Externa</label>
                        <div class="form-control">                   
                            <span class="input-xlarge uneditable-input">{{ isActive(entity.urlExterna) }}</span>      
                        </div>
                    </div>  
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label">Contenido</label>
                        <div class="well">{{ entity.contenido|raw }}</div>     
                    </div>       
                </div>  
            </div>  
            {% if entity.imagenes|length > 0 %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label class="control-label">Imagenes</label><br> 
                        {% for imagen in entity.imagenes %}
                            <a class="example-image-link" href="{{ asset(imagen.webPath) }}" data-lightbox="notica-Imagen-set" data-title="{{imagen.descripcion}}">
                                <img class="example-image" src="{{ asset(imagen.webPath) | imagine_filter('thumbnail') }}" alt=""/>
                            </a>
                        {% endfor %}
                    </div>  
                {% endif %}  
                {% if entity.archivo %}
                    {% if entity.archivo.filePath is not null %}
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <label class="control-label">Archivo</label><br> 
                                <a class="btn btn-default btn-lg glyphicon glyphicon-save" href="{{ asset(entity.archivo.webPath) }}" download="{{ entity.archivo.descripcion }}">
                                </a>
                            </div>
                        </div> 
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script src="{{ asset('bundles/cmsgaback/lightbox/js/lightbox.min.js') }}"></script>
{% endblock %}