h1 {
    font-size: 40px;
}

@media all and (max-device-width: 900px){
    h1 {
        font-size: 28px;
    }
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        height: 260px;
    }
}

@media all and (max-device-width: 720px){
    h1 {
        font-size: 20px;
    }
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        height: 200px;
    }
}

@media all and (max-device-width: 360px){
    h1 {
        font-size: 12px;
    }
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        height: 140px;
    }
}
#logo {
    /*max-width: 100px;*/
    margin: 0 auto;
}
#carousel-example-portada {
    -moz-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow:  0 3px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
}
.navbar-collapse {
	max-height: 600px !important;
}
.navbar-izquierda {
	background-color: rgba(52, 172, 219, 0.15) !important;
}
.navbar-titulo {
	color: #042F62 !important;
}
.headTitle {
	margin-top: -11.4%;
    position: absolute;
    left: 0.1px;
    right: 0.1px; 
    bottom: 0.1px;
    z-index: 10;
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    color: #fff;
    /* text-align: center; */
    background-color: rgba(0,0,0,0.5);
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-image: -webkit-gradient(
        linear,
        right bottom,
        right top,
        color-stop(0.5, rgba(0,0,0,0.5)),
        color-stop(1, rgba(255, 255, 255, 0.1))
    );
    background-image: -o-linear-gradient(top, rgba(0,0,0,0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
    background-image: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(255, 255, 255, 0.1) 100%);
}
.headTitle h1{
	margin: 2.5% 0 0;
	padding: 0;
	/*position: absolute;*/
	/*bottom: 0;*/
}
.headTitle small{
	color: #FFFFFF;
}
.bs-callout h4 {
    overflow: hidden;
    max-height: 40px;
}
.banner-izquierda {
    font-size: 25px;
    /*background-color: rgba(142, 219, 52, 0.15);*/
    /*color: #ffffff;*/
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}
.banner-izquierda img {
    width: 90%;
}
.enlace {
    margin-left: 5% !important;
    width: 95%;
    font-weight: bold;
}
.media a {
    padding-left: 50px;
}