body
{
	font-family: 'Open Sans Condensed', sans-serif;
	background-image: url(../img/lined_paper.png);
}

.colores {
	height: 165px;
}

a, .btn {
	-ms-transition: all .2s linear;
	  -webkit-transition: all .2s linear;
	  -moz-transition: all .2s linear;
	  -o- transition: all .2s linear;
	   transition: all .2s linear;
}

a:hover, .btn:hover, input {
	-ms-transition: all .2s linear;
	  -webkit-transition: all .2s linear;
	  -moz-transition: all .2s linear;
	  -o- transition: all .2s linear;
	   transition: all .2s linear;
	   text-decoration: none;
   }
 .navbar.navbar-default.navbar-fixed-top {
 	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	 -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	 background-color: #005588;
	 height: 70px;
 }
   
   .came, .trucco, .andreani
{
	margin-bottom: 25px;
	margin-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ddd;
}

.banners
{
	text-align: center;
}

.banners img
{
	max-width: 100%;
}
		  
		  
   
   .free .btn, .alert, .test, .btn-lg
{
	border-radius: 4px;
	font-size: 16px;
	background-color: black;
	color: white;
	text-transform: capitalize;
	/*width: 200px;*/
	margin-top: 10px;
		
}

   .free .btn:hover, .alert:hover, .test:hover, .btn-lg:hover
{
	background-color: rgba(0, 0, 0, 0.75);
	
}

#Enviar {
	border-radius: 3px;
	
	font-size: 15px;
	background-color: #51bcb3;
	color: white;
	font-weight: bold;
	text-transform: capitalize;
	width: 150px;
	border-style: none;
	margin-top: 20px;
	padding-top: 7px;
	padding-bottom: 7px;-ms-transition: all .2s linear;
	  -webkit-transition: all .2s linear;
	  -moz-transition: all .2s linear;
	  -o- transition: all .2s linear;
	   transition: all .2s linear;
	
}

#Enviar:hover {
	border-radius: 3px;
	
	font-size: 15px;
	background-color: #ED5A5A;
	font-weight: bold;
	text-transform: capitalize;
	width: 150px;
	border-style: none;
	margin-top: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
	-ms-transition: all .2s linear;
	  -webkit-transition: all .2s linear;
	  -moz-transition: all .2s linear;
	  -o- transition: all .2s linear;
	   transition: all .2s linear;
	   color: white;
   }

.form {
	width: 100px;
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
}

input#formularios.formulario {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	padding: 7px;
	margin-bottom: 10px;
	color: black;
}

#mensaje {
width: 100%;
border: 1px solid rgba(0, 0, 0, 0.3);
border-radius: 3px;
padding: 7px;
color: black;
}
.modal-header {
	border-bottom-color: rgba(0, 0, 0, 0.3);
	background-color: #222;
	color: white;
	border-radius: 4px;
}

.ones .btn
{
	float: right;
}

.decreto {
	background-color: #01c1f0;
	color: white;
	padding: 10px;
	border-radius: 3px;
	border: 5px solid #97d4e3;
	font-size: 1.2em;
}

.ron {
	background: url(http://nicotorreweb.com/demos/dumistream/img/bg-test.jpg) 50% 50px;
	background-size: cover;
	margin-bottom: 20px;
}

.btn-lg {
  line-height: 10px;
  font-size: 20px;
  text-transform: capitalize;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
}

.sombra {
	width: 100%;
	text-align: center;
	max-width: 100%;
}

.sombra img
{
	width: 100%;
	max-width: 100%;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  top: 18%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.logoemp {
	background-color: black;
	padding: 7px;
	border-radius: 5px;
	text-align: center;
}

.logoemp img
{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

.slider {
	margin-top: 50px;
	font-size: 75px;
	line-height: 75px;
	
}

#carousel-example-generic div.carousel-inner div.item div.carousel-caption img {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.cpc {
	padding: 10px;
	border-radius: 6px;
	font-size: 22px;
	color: rgba(255, 255, 255, 0.5);
	line-height: normal;
}

.cpc h2 {
	margin-top: 0;
	color: white;
	display: block;
font: 45px/60px 'Prosto One', cursive;
padding-bottom: 10px;
padding-top: 15px;
}

.jumbotron {
	margin-bottom: 2px;
margin-top: 2px;

	text-align: center;
	}

.imghome {

	padding-bottom: 20px;
}

.imghome img
{
		max-width: 100%;
	
}

.radios li {
	list-style: none;padding: 10px;
	background-color: rgba(81, 188, 179, 0.19);
	margin-bottom: 2px;
	margin-top: 2px;
	border-left: 4px solid rgba(81, 188, 179, 0.4);
		border-radius: 3px;
	
}

.radios-2 li {
	list-style: none;padding: 10px;
	background-color: rgba(81, 188, 179, 0.19);
	margin-bottom: 2px;
	margin-top: 2px;
	border-left: 4px solid rgba(81, 188, 179, 0.4);
		border-radius: 3px;
	
}

.video-2 li {
	list-style: none;padding: 10px;
	background-color: rgba(239, 113, 113, 0.15);
	margin-bottom: 2px;
	margin-top: 2px;
	border-left: 4px solid rgba(239, 113, 113, 0.4);
		border-radius: 3px;
	
}

.video li {
	list-style: none;padding: 10px;
	background-color: rgba(237, 89, 89, 0.19);
	margin-bottom: 2px;
	margin-top: 2px;
	border-left: 4px solid rgba(237, 89, 89, 0.4);
		border-radius: 3px;
	
}

ul
{
	padding: 0;
}

#carousel-example-generic div.carousel-inner div.item.active div.carousel-caption div.free div.cpc strong {
	color: rgba(181, 214, 132, 0.5);
}

.free {
	padding: 7px;
	border-radius:6px;
	
}


.navbar-brand {
  float: left;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  padding-bottom: 0;
  padding-top: 5px;
  height: 40px;
  margin-top: 8px;
}

.navbar-brand img{
	width: 200px;
}

.sep
{
	
	margin-bottom: 75px;
	margin-top: 75px;
	border-bottom: 1px dashed #ddd;
}


.sep3
{
	
	margin-bottom: 75px;
	margin-top: 75px;
	border-bottom: 1px dashed #222;
}

.sep2
{
		border-bottom: 1px dashed #ddd;
	
	margin-bottom: 10px;
	margin-top: 5px;
}


.carousel-caption button.btn.btn-success {
	display: block;
	width: 200px;
	text-transform: capitalize;
	font-size: 18px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
}

.hos
{
	font-weight: bold;
}

.one
{
	background-color: rgba(255, 255, 255, 0.65);
	-moz-box-shadow: 0 2px 2px rgba(3, 3, 3, 0.25);
	-webkit-box-shadow: 0 2px 2px rgba(3, 3, 3, 0.25);
	box-shadow: 0 2px 2px rgba(3, 3, 3, 0.25);
	border-radius: 3px;
	margin-bottom: 15px;
	padding: 1.3em;
	font-size: 1.26em;
}

.rex
{
	background-color: rgba(255, 255, 255, 0.88);
	-moz-box-shadow: 0 2px 2px rgba(3, 3, 3, 0.25);
	-webkit-box-shadow: 0 2px 2px rgba(3, 3, 3, 0.25);
	box-shadow: 0 2px 2px rgba(3, 3, 3, 0.25);
	border-radius: 3px;
	font-size: 1.5em;
	border: 5px solid rgba(255, 255, 255, 0.3);
	padding-bottom: 20px;
	padding-top: 20px;
}
.menor {
	font-size: 17px;
	line-height: 10px;
}

.rex small
{
	color: #00a1e1;
	font-weight: bold;
}


.despor
{
	background-color: #ffffff;
	padding: 12px;
	border-radius: 3px;
	font-size: 0.8em;
	text-align: center;
}

.lis {
	display: block;
	margin-bottom: 5px;
	background-color: rgba(0, 161, 223, 0.15);
	color: #00a1e1;
	padding: 8px;
}

.despor img {
	width: 100%;
	
}

.fire {
	font-size: 50px;
	color: white;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.five {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	color: white;
	font-size: 16px;
	padding: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.five strong {
	font-size: 1.3em;
}

a .test {
	padding: 13px 13px 13px 70px;
	color: white;
	margin-top: 20px;
	background: url(http://nicotorreweb.com/demos/dumistream/img/test.png) no-repeat 10px #93c54b;
	line-height: normal;
	font-size: 30px;
	border: 4px solid #78a636;-ms-transition: all .2s linear;
	  -webkit-transition: all .2s linear;
	  -moz-transition: all .2s linear;
	  -o- transition: all .2s linear;
	   transition: all .2s linear;
}

a .test:hover {
  background-color: #79a736;
-ms-transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o- transition: all .2s linear;
   transition: all .2s linear;
}

.ran {
	
		background: url(http://nicotorreweb.com/demos/dumistream/img/rse.jpg) 50% 20px;
		background-size: cover;
		margin-bottom: 20px;
	
}

.clear
{
	clear: both;
}





.grafico img
{max-width: 100%;
	
}



.slider-2
{
	padding: 5px;
	background-color: white;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
	border-radius: 3px;
}




footer
{
	padding-top: 20px;
	text-align: center;
	background-color: #005588;
	color: white;
	margin-top: 75px;
	padding-bottom: 20px;
}






footer img
{
	max-width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}





.panel-title a {
	font-size: 18px;
	display: block;
	color: rgba(0, 0, 0, 0.6);
}

.panel-title a:hover {
	text-decoration: none;
}

.fecha {
	font-size: 0.85em;
	display: block;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding-bottom: 3px;
	color: #aaaaaa;
}

.not {
	margin-bottom: 30px;
}

.main {
	font-size: 16px;
}






.navbar-inverse .navbar-nav > .active > a
 {
  color: #ffffff;
  background-color: #a5cf6a;
  -moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.59);
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.59);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.59);
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.35);
  font-weight: bold;
border-radius: 12px 3px 12px 3px;
-webkit-border-radius: 12px 3px 12px 3px;
-moz-border-radius: 12px 3px 12px 3px;
	border: 2px solid #78a636;
	height: 62px;
}

.navbar-inverse .navbar-nav > .active > a:hover
{
	background-color: #f06b5d;
	color: white;		border: 2px solid #b72f21;
	
}

.gaza
{
	height: 1px;
	background-color: #aaa;
	margin-bottom: 30px;
	margin-top: 30px;
}


.gazago
{
		margin-top: 200px;
}

.bonsai {
	padding: 12px 12px 15px;
	border-radius: 4px;
	-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 0.35);
	font-size: 16px;
	-ms-transition: all .2s linear;
	  -webkit-transition: all .2s linear;
	  -moz-transition: all .2s linear;
	  -o- transition: all .2s linear;
	   transition: all .2s linear;
   }

.uganda {
	padding: 20px;
	border-radius: 4px;
	-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
	background-color: rgba(255, 255, 255, 0.35);
	font-size: 17px;
	-ms-transition: all .2s linear;
	  -webkit-transition: all .2s linear;
	  -moz-transition: all .2s linear;
	  -o- transition: all .2s linear;
	   transition: all .2s linear;
	text-align: center;
   }

.etiopia {
	padding: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
	background-color: rgba(0, 0, 0, 0.85);
	font-size: 17px;
	margin-bottom: -2px;
   }

.etiopia iframe
{
margin: 0px;
	height: 330px;
}

.uganda img
{
width: 150px;
}


	 
	 .bgb {
	 	padding-bottom: 75px;
		 padding-top: 75px;
		 margin-top: 110px;
		border-bottom: 5px solid #444;
		background-color: rgba(255, 255, 255, 0.3);webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
		     box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
		
	}
	 
	 .bonsai h2  {
	font-size: 22px;
	display: block;
	border-left: 4px solid #b3d681;
	padding-left: 5px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
	margin-top: 0;
	padding-top: 3px;font-family: 'Ubuntu', sans-serif;
}

	 .etiopia h2  {
	font-size: 22px;
	display: block;
	border-left: 4px solid #b3d681;
	padding-left: 5px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	border-bottom: 1px solid #666;
	margin-top: 0;
	padding-top: 3px;font-family: 'Ubuntu', sans-serif;
		 color: white;
		 margin: 4px;
		 margin-bottom: 10px;
		 padding-left: 7px;
		 		 padding-bottom: 7px;}

	.colora h4, .colorb h4, .colorc h4, .colord h4, .colore h4, .colorf h4    {
		text-align: center;
		font: 16px 'Prosto One', cursive;
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.colora img, .colorb img, .colorc img, .colord img, .colore img, .colorf img
	{
		width: 110px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.colora, .colorb, .colorc, .colord, .colore, .colorf
	{
		-moz-box-shadow: 0 2px 2px rgba(1, 1, 1, 0.3);
		-webkit-box-shadow: 0 2px 2px rgba(1, 1, 1, 0.3);
		box-shadow: 0 2px 2px rgba(1, 1, 1, 0.3);
		ms-transition: all .2s linear;
		   -webkit-transition: all .2s linear;
		   -moz-transition: all .2s linear;
		   -o- transition: all .2s linear;
		    transition: all .2s linear;
		
	}
	
	.colora:hover, .colorb:hover, .colorc:hover, .colord:hover, .colore:hover, .colorf:hover
	{ms-transition: all .2s linear;
	   -webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	   -o- transition: all .2s linear;
	    transition: all .2s linear;
	-ms-transform: scale(1.12);
	  -webkit-transform: scale(1.12);
	  -moz-transform: scale(1.12);
	  -o- transform: scale(1.12);
	  transform: scale(1.12);
		-moz-box-shadow: 0 4px 3px rgba(1, 1, 1, 0.3);
		-webkit-box-shadow: 0 4px 3px rgba(1, 1, 1, 0.3);
		box-shadow: 0 4px 3px rgba(1, 1, 1, 0.3);
		}
	
	.colora
	{
		background-color: #dbf0fc;
		border-radius: 4px;
		color: #38779d;
		text-align: center;
		padding-bottom: 15px;
		padding-right: 10px;
		padding-left: 10px;
			}
	
	
	
	.colorb
	{
	background-color: #e3eabf;
	border-radius: 4px;
	color: #809125;
	text-align: center;
	padding-bottom: 15px;
	padding-right: 10px;
	padding-left: 10px;}
	
	.colorc
	{
		background-color: #fcdaaa;
		border-radius: 4px;
		color: #f0861c;
		text-align: center;
		padding-bottom: 15px;
		padding-right: 10px;
		padding-left: 10px;	}
	
	.colord
	{
		background-color: #fdc2c2;
		border-radius: 4px;
		color: #b40226;
		text-align: center;
		padding-bottom: 15px;
		padding-right: 10px;
		padding-left: 10px;	}

.colore
{
	background-color: #ecec9f;
	border-radius: 4px;
	color: #a6a605;
	text-align: center;
	padding-bottom: 15px;
	padding-right: 10px;
	padding-left: 10px;	}
	
	.colorf
	{
		background-color: #f3cfe7;
		border-radius: 4px;
		color: #d651ab;
		text-align: center;
		padding-bottom: 15px;
		padding-right: 10px;
		padding-left: 10px;	}


iframe {
	width: 100%;
	height: 250px;
	margin-bottom: -13px;
	border-style: none;
	background-color: rgba(255, 255, 255, 0.19);
	padding: 5px;
	border-radius: 3px;
}



.carousel-indicators li {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 5px;
  text-indent: -999px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  border: 1px none #ffffff;
}


.carousel-indicators li:hover {
	background-color: #52d6cb;
}




.modali {
	color: #ffffff;
	text-transform: capitalize;
	font-size: 15px;
	position: relative;
	display: block;
	padding: 20px 15px;
	  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	-ms-transition: all .2s linear;
	  -webkit-transition: all .2s linear;
	  -moz-transition: all .2s linear;
	  -o- transition: all .2s linear;
	   transition: all .2s linear;
	
}




  

  li.modali:hover {
    	  color: #51BCB3;
  
  }
  
  .navbar-default .navbar-nav > li > a:hover {
  	  color: #51BCB3;
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  	font-size: 13px;
	  color: #3e3f3a;
	  border-bottom: 1px solid #ddd;
	  text-transform: none;
  }
  
  .space
  {
  	margin-top: 90px;
  }
  
  .social
  {
  	background-color: rgba(0, 0, 0, 0.4);
	  position: fixed;
	  z-index: 30;
	  border-radius: 3px;
	  top: 70px;
	  right: 7px;
	  padding-bottom: 4px;
	  padding-top: 4px;
  }
  
 
  .social img
  {
  	width: 20px;
	  margin: 7px;
	  opacity: 0.7;
  }
  
  
   .social img:hover
   {
   	opacity: 1;
   }
  
  .open > .dropdown-menu {
  	background-color: #3e3f3a;
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
	border-bottom-color: #666;
	border-bottom-width: 1px;font-family: 'Ubuntu', sans-serif;
}

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #434343;
    background-color: #ED5A5A;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #434343;
    background-color: #A7D4EF;
  }
  
  
  .carousel .item {
      -webkit-transition: opacity 1.5s;
      -moz-transition: opacity 1.5s;
      -ms-transition: opacity 1.5s;
      -o-transition: opacity 1.5s;
      transition: opacity 1.5s;
  }
  .carousel .active.left, .carousel .active.right {
      left:0;
      opacity:0;
      z-index:2;
  }
  .carousel .next, .carousel .prev {
      left:0;
      opacity:1;
      z-index:1;
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: black;
  } 
  

  
  h2 {
  	margin-bottom: 5px;
	  margin-top: 0;
	  font-family: 'Prosto One', cursive;
  }
  
  
	  
	 
	  
	
  h3 {
  	margin-top: 0;
	  margin-bottom: 0;
  }
  
  .samoa h2, .samoad h2, .samoac h2, .samoc h2
  {
  	color: white;
	  padding: 35px 20px;
	  border-radius: 4px;
	  margin-top: 0;
	  margin-bottom: 0;
	  background: url(http://nicotorreweb.com/demos/dumistream/img/ts.png) no-repeat 98% rgba(255, 255, 255, 0.25);
	  font: 50px 'Prosto One', cursive;
	  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
	  border: 1px solid rgba(255, 255, 255, 0.6);
  }
  
  
  
  
  
 .nav-tabs > li > a {
   border-color: #dfd7ca;
   color: #005588;
   text-transform: none;
   border-style: none;
   margin-left: 1px;
   margin-right: 1px;
   padding-left: 2px;
   padding-right: 2px;
}

 .nav-tabs > li > a:hover {
 	background-color: #a7d4ef;
 }
 
 .nav-tabs.nav-justified > .active > a,
 .nav-tabs.nav-justified > .active > a:hover,
 .nav-tabs.nav-justified > .active > a:focus {
   border: 1px solid white;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
}


.ones li.modali {
	border-radius: 3px;
	text-shadow: 0 1px 2px rgba(255, 255, 255, 0.5);
	font-size: 15px;
	background-color: #b3d681;
	color: #658637;
	font-weight: bold;
	text-transform: capitalize;
	border-style: none;
	padding-top: 7px;
	padding-bottom: 7px;-ms-transition: all .2s linear;
	  -webkit-transition: all .2s linear;
	  -moz-transition: all .2s linear;
	  -o- transition: all .2s linear;
	   transition: all .2s linear;
	   text-align: center;
	   margin-top: 20px;
   }
   
   
   .ones li.modali:hover {
      background-color: #98be62;-ms-transition: all .2s linear;
         -webkit-transition: all .2s linear;
         -moz-transition: all .2s linear;
         -o- transition: all .2s linear;
          transition: all .2s linear;
       
         }
         
         
         .panel-heading
       
         {
           font-size: 11px;
           line-height: 22px;
           font-weight: 500;
           color: #fff;
		   text-transform: capitalize;
		   -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
		   -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
		   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
		   margin-bottom: 5px;
		   background-color: rgba(255, 255, 255, 0.6);
	   }
	   
	   .panel-heading:hover
	   
	     {
		 	background-color: white;
		 }
	   
	
	   
	   .panel-body {
	     padding: 15px;
		 background-color: none;
	 }
	 
	 
	 	 @media (max-width:1024px)
	 	 {
	 	 .slider
	 	 {
	 	 	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	 	 	font-size: 50px;
	 	 	line-height: normal;
	 	 	
	 	 }#carousel-example-generic div.carousel-inner div.item div.carousel-caption img {
	 display: none;	 }
	 	
	 	 }
	 
	 
	 @media (max-width:955px)
	 {
	 .slider
	 {
	 	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	 	font-size: 50px;
	 	line-height: normal;
	 	
	 }
	 
	.colora, .colorb, .colorc, .colord
	{
		margin-bottom: 10px;
	}
	 
	 #carousel-example-generic div.carousel-inner div.item div.carousel-caption img {
display: none;	 }

.cpc h2 {
	margin-top: 0;
	color: white;
	display: block;
	border-bottom: 10px solid rgba(255, 255, 255, 0.7);
padding-bottom: 0;
padding-top: 0;
font: 40px 'Prosto One', cursive;
}
	
	 }
	 
	 @media (max-width:768px)
	 {

	 	.fn
{	 	display: none;
}

.social
{display: none;}
	 
	 
	 .main {
	 	padding-top: 20px;
	 }
	 
	.destaca {
		font-size: 12px;
		   display: block;
		   	   color: white;
		   padding-bottom: 5px;
		   padding-top: 5px;
		   margin-bottom: 3px;
		   border-bottom: 1px solid rgba(255, 255, 255, 0.7);
	}
	
	.free {
		padding: 7px;
		border-radius:6px;
		margin-top: 20px;
	}
	
	.colora, .colorb, .colorc, .colord
	{
		margin-bottom: 10px;
	}
	 
	 .slider
	 {
	 	font-size: 20px;
	 	line-height: normal;
	 	
	 }
	 
	 .cpc {
	 	padding: 0 10px 10px;
	 	border-radius: 6px;
	 	font-size: 22px;
	 	color: rgba(255, 255, 255, 0.5);
	 	line-height: normal;
	 }
	 .free {
	 	padding: 7px;
	 	border-radius:6px;
	 	
	 }
	 
	 .free .btn, .alert, .test, .btn-lg
	 {
	 	border-radius: 4px;
	 	font-size: 13px;
	 	background-color: black;
	 	color: white;
	 	text-transform: capitalize;
	 	width: 100px;
	 	margin-top: 10px;
		 padding-bottom: 6px;
		 padding-top: 4px;
	 }
	 .cpc h2 {
	 	margin-top: 0;
	 	color: white;
	 	display: block;
	 font: 30px 'Prosto One', cursive;
	 border-bottom: 10px solid rgba(255, 255, 255, 0.7);
	 padding-bottom: 0;
	 padding-top: 0;
	 }
	 
	 ul.ramon {
	 	margin-top: -40px;
	 }
	 
	 .facebook
	 {
	 	display: none;
	 }
	 
	 
	 .social img
	 {
	 	width: 20px;
	 	margin-bottom: 7px;
	 	margin-top: 7px;
	 	opacity: 0.75;
	 }
	 
	 iframe {
	 	margin-top: 25px;
	 }
	 
		 
	 .carousel-caption {
	   position: absolute;
	   left: 15%;
	   right: 15%;
	   z-index: 10;
	   padding-top: 20px;
	   padding-bottom: 30px;
	   color: #ffffff;
	   text-align: center;
	   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	   top: 10px;
	 }
	 
	 .camep {
	 	margin-top: auto;
	 }
	 
	 }
	 @media (max-width:480px)
	 {
	 .slider
	 {
	 	margin-top: 50px;
		 font-size: 20px;
	 	line-height: normal;
	 	height: 170px;
	 	width: auto;
	 }
	 
	 
	 
	 
	 .carousel-inner > .item > img,
	 .carousel-inner > .item > a > img {
	 	width: auto;
	 }
	 
	 
	 
	 
	 
	 
	 
	 
	 .jumbotron p {
	   margin-bottom: 15px;
	   font-size: 18px;
	   font-weight: 200;
	 }
	 
	 .onesun {
	 	font-size: 22px;
	 	padding: 25px;
	 	background-color: rgba(255, 255, 255, 0.40);border-radius: 4px;
	 	-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
	 	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
	 	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
	 	margin-top: 0;
	 }
	 
	 .ones .col-md-4  
	 {
	 	margin-bottom: 20px;
	 }
	 
	 .sep
	 {
	 	background-color: rgba(255, 255, 255, 0.4);
	 	height: 1px;
	 	margin-bottom: 10px;
	 	display: none;
	 }
	 
	 .imghome img
	 {
	 		max-width: 100%;
			 width: 300px;
		 }
	 
	 
	 
	 .carousel-caption {
	   position: absolute;
	   left: 15%;
	   right: 15%;
	   z-index: 10;
	   padding-bottom: 0;
	   color: #ffffff;
	   text-align: center;
	   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	   display: none;
   }
	 
	 
	 
	 .carousel-control.left {
	 	display: none;
	 }
	 
	 .carousel-control.right {
	 	display: none;
	 }
	 
	 
	 
	 
	 
	 .sombra img
	 {
	 	margin-top: -10px;
	 }
	 
	 
	 
	 .social
	 {
	 	display: none;
	 }
	 .slider-2
	 {
	 	display: none;
	 }
	 .sombra img
	 {
	 }
	 
	 
	 }



.fn a:hover
{
color: #fff;

}




.titulo {
	padding-top: 25px;
	padding-right: 20px;
	padding-bottom: 25px;
}


.noticias img
{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	background-color: white;
	padding: 5px;
	-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
	max-width: 400px;
}

.btn-mas {
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 17px;
	color: #32a832;
	text-align: right;
	
}

.not {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.75);-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
	border-radius: 3px;
	height: 550px;
    overflow: hidden;
}
.columna {
	background-color: #f0f0f0;
	text-align: center;
	-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
		border-radius: 3px;
}


.columna img
{
	max-width: 100%;
}

div.buscar {
	padding: 10px;
}

.box
{
	padding-bottom: 18px;
	padding-top: 18px;
}

button.btn.btn-default {
	background-color: #32a832;
}

input.form-control {
	background-color: #555;
	color: white;
}

.noticias h3
{
	font-size: 25px;
	font-weight: bold;
	color: #005486;
}

.agenda ul
{
	list-style: none;
	margin-top: 0;
}

.agenda
{
	text-align: left;
	padding: 10px;
	background-color: #95cdee;
	margin-top: 30px;
	color: #005486;
}
.agenda a
{
	color: #005486;
}

.cal {
	background-color: #ffd300;
	text-align: center;-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
		border-radius: 3px;
}

.cal img
{
	max-width: 100%;
}

.agenda li {
	padding: 4px 4px 4px 7px;
	margin-bottom: 2px;
	background-color: #72bde9;
}

.agn
{
	display: block;
	font-size: 22px;
	font-weight: bold;
	background: url(../img/icn-agenda.jpg) no-repeat;
	padding-left: 47px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.video iframe
{
	width: 100%;
	height: 230px;
}

.video
{
	-moz-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.32);
		border-radius: 3px;
		padding: 5px 5px 15px;
		background-color: black;
	}
	
	
	.col-xs-15,
	.col-sm-15,
	.col-md-15,
	.col-lg-15
	{
	    position: relative;
	    min-height: 1px;
	    padding-right: 10px;
	    padding-left: 10px;
	}
	 
	.col-xs-15
	{
	    width: 20%;
	    float: left;
	}
	 
	@media (min-width: 768px)
	{
	    .col-sm-15
	    {
	        width: 20%;
	        float: left;
	    }
	}
	 
	@media (min-width: 992px)
	{
	     .col-md-15
	     {
	        width: 20%;
	        float: left;
	    }
	}
	 
	@media (min-width: 1200px)
	{
	    .col-lg-15
	    {
	        width: 20%;
	        float: left;
	    }
	}