<style type="text/css">
	form .row div {
		padding: 0 !important;
	}
</style>
{% form_theme find_form '@dirname/Form/findCalendarioForm.html.twig' %}
{{ form_start(find_form) }}
{{ form_rest(find_form) }}
{{ form_end(find_form) }}