{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}Resultado de la busqueda{% endblock %}

{% block seccionTitulo %}Resultado de la busqueda{% endblock %}

{% block seccionDescripcion %}{% endblock %}

{% macro contentBlock(component) %}
    {% if component is noticia %}
        <div class="item-blog col-lg-6 col-md-6 col-sm-12">
            <div class="col-lg-5 col-md-5 col-sm-5">
                {% if (component.imagenes|length) > 0 and component.imagenes[0].webPath is not null %}
                    <ul class="portfolio-items " style="">
                        <li class="portfolio-item">
                            <div class="item-inner">
                                <img src="{{ asset(component.imagenes[0].webPath|imagine_filter('imagen_300x160')) }}" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="{{ asset(component.imagenes[0].webPath) }}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>             
                                </div>           
                            </div>           
                        </li><!--/.portfolio-item-->
                    </ul>
                {% else %}
                    <ul class="portfolio-items " style="">
                        <li class="portfolio-item">
                            <div class="item-inner">
                                <img src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagen_300x160')) }}" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-danger" href="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg') }}" rel="prettyPhoto"><i class="icon-eye-open"></i></a>
                                </div>           
                            </div>           
                        </li><!--/.portfolio-item-->
                    </ul>
                {% endif %}
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="blog-content">
                    <a href="{{ path('detalle_noticia', { 'id': component.id }) }}"><h3>{{ component.titulo }}</h3></a>
                    <div class="entry-meta">
                        <span><i class="icon-user"></i> <a href="javascript:;">John</a></span>
                        <span><i class="icon-calendar"></i> {{ component.fecha|localizeddate('long', 'none') }}</span>
                        <span><i class="icon-comment"></i> <a href="{{ path('detalle_noticia', { 'id': component.id }) }}">3 Comentarios</a></span>
                    </div>
                    <p class="descripcionNoticia">{{component.descripcion[:300] ~ '...'}}</p>
                    <div class="text-right">
                        <a class="btn btn-default" href="{{ path('detalle_noticia', { 'id': component.id }) }}">Leer más<i class="icon-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    {% elseif component is seccion %}
        {% if component.urlExterna == false %}
            <style type="text/css">
                .intro { height: 80px; }
                .intro .bs-callout { height: 50px; }
            </style>

            <div class="intro col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <strong>{{ component.item.name[:120] }}</strong> 
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a class="btn btn-default" href="{{ path('seccion_front', { 'sec': component.url }) }}">Ver secci&oacute;n</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% elseif component is evento or component is curso or component is actividad %}
        <div class="widget widget-popular">
            <div class=" widget-blog-items">
                <div class="widget-blog-item media">
                    <div class="pull-left"> 
                        <a  {% if component is curso %}
                            href="{{ path('detalle_curso', { 'id': component.id }) }}"
                        {% elseif component is evento %}
                            href="{{ path('detalle_evento', { 'id': component.id }) }}"
                        {% elseif component is actividad %}
                            href="{{ path('detalle_actividad', { 'id': component.id }) }}"
                        {% endif %}>
                        <div class="date">
                            <span class="month">{{ component.startDatetime|localizeddate("medium", "none", null, null, "LLL") }}</span>
                            <span class="day">{{ component.startDatetime|date("d") }}</span>
                        </div>
                    </a>
                </div>
                <div class="media-body">
                    <a {% if component is curso %}
                        href="{{ path('detalle_curso', { 'id': component.id }) }}"
                        {% elseif component is evento %}
                            href="{{ path('detalle_evento', { 'id': component.id }) }}"
                            {% elseif component is actividad %}
                                href="{{ path('detalle_actividad', { 'id': component.id }) }}"
                                {% endif %}>
                                    <h4>{{component.title}}</h4>  
                                </a>
                                <p>{{component.descripcion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% block medio %}
    <section id="blog" class="container">
        <div class="row">    
            {# include("@dirname/Plantilla/seccionLateralBlog.html.twig") #}
            <div class="col-sm-12 ">
                <div class="blog">
                    {% for resultado in resultados %}
                        {{ _self.contentBlock(resultado) }}
                    {% else %}
                        <div class="alert alert-warning" role="alert">No se encontraron resultados.</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}