<style>
    .hero-slider .slider-item {
        background-size: auto 95%;
    }
</style>

<div class="hero-slider">
    {% for key,imagenPortada in carousel %}
        {% if imagenPortada.noticia is not null %}

            {% if imagenPortada.webPath is not null %}
            <div class="slider-item slide{{ key }}" style="background-image:url({{ asset(imagenPortada.webPath|imagine_filter('imagen_ancho900')) }})">
            {% else %}
            <div class="slider-item slide{{ key }}" style="background-image:url({{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagen_ancho900')) }})">
            {% endif %}

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="content style text-center">
                                <h2 class="text-white text-bold mb-2"></h2>
                                <p class="tag-text mb-5">{{ imagenPortada.descripcion[:100] ~ '...' }}</p>
                                <a href="{{ path('detalle_noticia', { 'id': imagenPortada.noticia.id }) }}" class="btn btn-main btn-white">Ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% elseif imagenPortada.calendario is not null %}

            {% if imagenPortada.webPath is not null %}
            <div class="slider-item slide{{ key }}" style="background-image:url({{ asset(imagenPortada.webPath|imagine_filter('imagen_ancho900')) }})">
            {% else %}
            <div class="slider-item slide{{ key }}" style="background-image:url({{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagen_ancho900')) }})">
            {% endif %}

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="content style text-center">
                                <h2 class="text-white text-bold mb-2"></h2>
                                <p class="tag-text mb-5">{{ imagenPortada.calendario.title }}</p>
                                {% if imagenPortada.calendario is evento %}
                                    <a href="{{ path('detalle_evento', { 'id': imagenPortada.calendario.id }) }}" class="btn btn-main btn-white">Ver más</a>
                                {% elseif  imagenPortada.calendario is actividad %}
                                    <a href="{{ path('detalle_actividad', { 'id': imagenPortada.calendario.id }) }}" class="btn btn-main btn-white">Ver más</a>
                                {% elseif  imagenPortada.calendario is curso %}
                                    <a href="{{ path('detalle_curso', { 'id': imagenPortada.calendario.id }) }}" class="btn btn-main btn-white">Ver más</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}

            {% if imagenPortada.webPath is not null %}
            <div class="slider-item slide{{ key }}" style="background-image:url({{ asset(imagenPortada.webPath|imagine_filter('imagen_ancho900')) }})">
            {% else %}
            <div class="slider-item slide{{ key }}" style="background-image:url({{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagen_ancho900')) }})">
            {% endif %}

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="content style text-center">
                                <h2 class="text-white text-bold mb-2"></h2>
                                <p class="tag-text mb-5">{{ imagenPortada.descripcion[:100] ~ '...' }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    {% endfor %}
</div>