{% if (menu.items is defined) %}
    {% for item in menu.items %}
        <li style="background: {{
            item.seccion.colorbtn == 'cpce' ? '#194470' : 
                item.seccion.colorbtn == 'sipres' ? '#194455' : '#1944AB'
        }};">
            {# {% if item.seccion.urlExterna and item.seccion.imagenes|length > 0 %}
                <a href="{{ item.seccion.url }}" target="_blank">
                    <img alt="item.seccion.imagenes[0].descripcion"
                        src="{{ asset(item.seccion.imagenes[0].webPath|imagine_filter('imagen_ancho260')) }}">
                </a>
            {% elseif item.seccion.urlExterna %} #}
            {% if item.seccion.urlExterna %}
                <a href="{{ item.seccion.url }}">
                    {{ item.title }}
                    <span>
                        {% if item.seccion.iconbtn %}
                            <i class="fa fa-{{ item.seccion.iconbtn }}"></i>
                        {% else %}
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        {% endif %}
                    </span>
                </a>
            {% else %}
                <a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">
                    {{ item.title }}
                    <span>
                        {% if item.seccion.iconbtn %}
                            <i class="fa fa-{{ item.seccion.iconbtn }}"></i>
                        {% else %}
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        {% endif %}
                    </span>
                </a>
            {% endif %}
        </li>
    {% endfor %}
{% endif %}