{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{% endblock %}

{% block paginaTitulo %}{% endblock %}
{% block stylesheets %}   
    {{ parent() }}
    <link href="{{ asset('bundles/cmsgafront/cpce/css/formLogin.css') }}" rel="stylesheet">
        <style>
            .letra{
                font-size: 180%;
            }
        </style>
{% endblock %}
{% block medio %}
    {{ render(controller("CmsGaFrontBundle:Default:carousel")) }}

    <div class="text-center">
        <div class="alert alert-info alert-dismissible" role="alert" >
            <a class="letra" href="https://cpcechaco.org.ar/seccion/menu_principal_sede-central_control-de-estado-del-matriculado">
            Consulte si el <strong>Profesional</strong> que lo asesora está <strong>Matriculado</strong>
            </a>
        </div>

    </div>

    <section class="service-section bg-gray section">
        <div class="container">
            <div class="section-title text-center">
                <h3>Noticias
                    <span>Destacadas</span>
                </h3>
            </div>
            <div class="row items-container clearfix">
                {% for noticia in destacadas %}
                    {% if (destacadas|length) > 0 %}
                        <div class="item">
                            <span>
                                <i class="fa fa-calendar"></i> 
                                {{ noticia.fecha|localizeddate('long', 'none') }}
                            </span>
                            <div class="inner-box">
                                <div class="img_holder">
                                    <a href="{{ path('detalle_noticia', { 'id': noticia.id }) }}">
                                        {% if (noticia.imagenes|length) > 0 and noticia.imagenes[0].webPath is not null %}
                                            <img src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagenout_300x160')) }}" class="img-responsive" />
                                        {% else %}
                                            <img src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagenout_300x160')) }}" class="img-responsive" />
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="image-content text-center">
                                    <a href="{{ path('detalle_noticia', { 'id': noticia.id }) }}">
                                        <h6>{{ (noticia.titulo|length) > 45 ? noticia.titulo[:45] ~ '...' : noticia.titulo }}</h6>
                                    </a>
                                    <p>{{ (noticia.descripcion|length) > 180 ? noticia.descripcion[:180] ~ '...' : noticia.descripcion }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="blog-section style-four section">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="row left-side bordecpce">
                    {% for key, noticia in noticias %}
                        {% if key > 0 and key is divisible by(3) %}
                            </div>
                            <div class="row left-side bordecpce">
                        {% endif %}
                        <div class="item-holder col-lg-4">
                            <div class="image-box">
                                <figure>
                                    <a href="{{ path('detalle_noticia', {'id': noticia.id }) }}">
                                        {% if (noticia.imagenes|length) > 0 and noticia.imagenes[0].webPath is not null %}
                                            <img src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagenout_300x160')) }}"/>
                                        {% else %}
                                            <img src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagenout_300x160')) }}"/>
                                        {% endif %}
                                    </a>
                                </figure>
                            </div>
                            <div class="content-text">
                                <a href="{{ path('detalle_noticia', {'id': noticia.id }) }}">
                                    <h6>{{ (noticia.titulo|length) > 45 ? noticia.titulo[:45] ~ '...' : noticia.titulo }}</h6>
                                </a>
                                <span>{{ noticia.fecha|localizeddate('long', 'none', app.request.locale ) }}</span>
                                <p>{{ (noticia.descripcion|length) > 180 ? noticia.descripcion[:180] ~ '...' : noticia.descripcion }}</p>
                                <div class="text-right">
                                    <h7 class="text-right" style="font-size: small; font-weight: bold;">
                                        {{ noticia.seccion }}
                                    </h7>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div>
                        <h4 class="text-center tituloColumna">Interés Profesional</h4>
                        <br>
                        {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'interes_profesional', 'level': 1})) }}
                    </div>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="right-side">
                        <div class="categorise-menu">
                            <div class="text-title">
                                <h6>Agenda</h6>
                            </div>
                            <ul class="categorise-list agenda">
                                {{ render(controller('CmsGaFrontBundle:Evento:recentEventos', {
                                    'max': 10
                                })) }}
                                {{ render(controller('CmsGaFrontBundle:Actividad:recentActividades', {
                                    'max': 10
                                })) }}
                                {{ render(controller('CmsGaFrontBundle:Curso:recentCursos', {
                                    'max': 10
                                })) }}
                            </ul>
                        </div>
                        <div class="categorise-menu">
                            <div class="text-title">
                                <h6>Accesos Directos</h6>
                            </div>
                            <ul class="categorise-list accesodi">
                                {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'enlaces', 'level': 1})) }}

                                {# <li><a data-toggle="modal" data-target="#exampleModal">Suscribite al Newsletter <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li> #}
                            </ul>
                            <ul class="categorise-list accesodiwap">
                                {# <li><a href="#">Contacto por whatsapp <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a></li> #}
                                <li><a id="btnSuscripcionCorreo" data-toggle="modal" data-target="#myModal">
                                    Suscribite al Newsletter <span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span>
                                </a></li>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Formulario de inscripción</h4>
                                            </div>
                                            <div class="modal-body" >
                                                <div class="row" id="formInscripcion">

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block bodyjavascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $("#btnSuscripcionCorreo").click(function (e) {
            e.preventDefault();
            $("#formInscripcion").html("<iframe id='doppler_subscription' src='http://app2.fromdoppler.com/Lists/FormProcessing/Form?idForm=x1tXQfntOSYjwPpSazIqzQ%3d%3d' height='600px;' width='100%' scrolling='yes' frameborder='no' style='overflow:scroll'></iframe>");
            $("#myModal").show();
        });
        $(document).ready(function () {
            //Events that reset and restart the timer animation when the slides change
            $("#transition-timer-carousel").on("slide.bs.carousel", function (event) {
                //The animate class gets removed so that it jumps straight back to 0%
                $(".transition-timer-carousel-progress-bar", this)
                    .removeClass("animate").css("width", "0%");
            }).on("slid.bs.carousel", function (event) {
                //The slide transition finished, so re-add the animate class so that
                //the timer bar takes time to fill up
                $(".transition-timer-carousel-progress-bar", this)
                    .addClass("animate").css("width", "100%");
            });
            //Kick off the initial slide animation when the document is ready
            $(".transition-timer-carousel-progress-bar", "#transition-timer-carousel")
                .css("width", "100%");
            $(".verMas").hover(
                function () {
                    resgTitulo = $(this).text();
                    $(this).text($(this).text() + ' ver más...');
                }, function () {
                    $(this).text(resgTitulo);
                }
            );
        });
    </script>
{% endblock %}