<ul class="nav nav-pills nav-stacked nav-banner">
    {% if (menu.items is defined) %}   
        <div class="row">
        {% for item in menu.items %}
            {% if item.seccion.imagenes|length > 0 %}
                {% if item.seccion.urlExterna %}
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a href="{{ item.seccion.url }}" target="_blank">
                            <div class="text-center">
                                <img class="img-circle" style="height:60px; margin-top:10px;" alt="item.seccion.imagenes[0].descripcion" src="{{ asset(item.seccion.imagenes[0].webPath|imagine_filter('thumbnail')) }}">
                            </div>                                
                            <div class="text-center">{{ item.title|upper }}</div>
                        </a>
                    </div>
                {% else %}
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}" target="_blank">
                            <div class="text-center">
                                <img class="img-circle" style="height:60px;" alt="item.seccion.imagenes[0].descripcion" src="{{ asset(item.seccion.imagenes[0].webPath|imagine_filter('thumbnail')) }}">
                            </div>
                            <div class="text-center">{{ item.title|upper }}</div>
                        </a>
                    </div>
                {% endif %}
            {% else %}
                {% if item.seccion.urlExterna %}
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <li class="mwstooltip enlace" data-toggle="tooltip" data-placement="top" title="{{ item.name|upper }}">
                            <a 
                                class="btn btn-{{ item.seccion.colorbtn }} btn-block" 
                                {% if '#' in item.seccion.colorbtn %}
                                    style="
                                        background-color: {{ item.seccion.colorbtn }}; 
                                        color: #fff;
                                            " 
                                {% endif %}
                                href="{{ item.seccion.url }}" target="_blank">
                                
                                {% if item.seccion.iconbtn %}
                                    <i class="glyphicon glyphicon-{{ item.seccion.iconbtn }}"></i>&nbsp;
                                {% endif %}
                                {{ item.title|upper }}
                            </a>
                        </li>
                    </div>
                {% else %}
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <li class="mwstooltip enlace" data-toggle="tooltip" data-placement="top" title="{{ item.name|upper }}">
                            <a 
                                class="btn btn-{{ item.seccion.colorbtn }} btn-block" 
                                {% if '#' in item.seccion.colorbtn %}
                                    style="
                                        background-color: {{ item.seccion.colorbtn }}; 
                                        color: #fff;
                                            " 
                                {% endif %}
                                href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">

                                {% if item.seccion.iconbtn %}
                                    <i class="glyphicon glyphicon-{{ item.seccion.iconbtn }}"></i>&nbsp;
                                {% endif %}
                                {{ item.title|upper }}
                            </a>
                        </li>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
</ul>