{% block menu %}
    {# <link href="{{ asset('bundles/cmsgafront/cpce/css/menu.css') }}" rel="stylesheet"> #}
    <link href="{{ asset('bundles/cmsgafront/cpce/css/formBuscar.css') }}" rel="stylesheet">

    <section class="header-uper">
        <div class="container clearfix">
            <div class="logo col-4">
                <figure>
                    <a href="{{ path('inicio') }}">
                        <img src="{{ asset('nuevaweb/images/logo.png') }}" alt="CPCE">
                    </a>
                </figure>
                
            </div>
            <center>
            <div class="bordeSocialMedia">
                    <div class="socialmedia">
                        <a href="https://www.facebook.com/cpcechaco" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/search?q=cpcechaco&src=typed_query" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.youtube.com/channel/UCq4w1AroXFTIAcXaT1ozCSw" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="https://instagram.com/cpce_chaco?igshid=jqy8t45izql6" target="_blank"><i class="fa fa-instagram"></i></a>               
                    </div>
                </div>
             </center>
            <div class="right-side" style="bottom: 50px;">
                <ul class="contact-info">
                    {# <li class="item">
                        <div class="icon-box">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <strong>Email</strong>
                        <br>
                        <a href="#">
                            <span>info@cpcechaco.org.ar</span>
                        </a>
                    </li>
                    <li class="item">
                        <div class="icon-box">
                            <i class="fa fa-phone"></i>
                        </div>
                        <strong>Consultas</strong>
                        <br>
                        <span>(0362) 4420345</span>
                    </li> #}
                    <li class="item2">
                        <div href="#" class="iconsipres"></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if (menu.items is defined) %}
                        {% for key,item in menu.items %}
                            {% if item.children is empty %}
                                {% if item.seccion.publicado == true %}
                                    {% if item.seccion.urlExterna %}
                                        <li>
                                            <a data-url="{{ item.seccion.url }}" href="{{ item.seccion.url }}" target="_blank">{{ item.title|upper }}</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a data-url="{{ item.seccion.url }}" href="{{ path('seccion_front', { 'sec': item.seccion.url}) }}">{{ item.title|upper }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.title|upper }}</a>
                                    <div class="dropdown-menu textozul" aria-labelledby="dropdownMenuButton">
                                        {% for children in item.children %}
                                            {% if children.seccion.publicado == true %}
                                                {% if children.seccion.urlExterna %}
                                                    <a class="dropdown-item btn" href="{{ children.seccion.url }}" data-url="{{ children.seccion.url }}" target="_blank">{{ children.title }}</a>
                                                {% else %}
                                                    {% if children.title == "Noticias" %}
                                                        <a class="dropdown-item btn" data-url="{{ children.seccion.url }}" href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">
                                                            {{ children.title }}
                                                        </a>
                                                    {% else %}
                                                        <a class="dropdown-item btn" data-url="{{ children.seccion.url }}" href="{{ path('seccion_front', { 'sec': children.seccion.url }) }}">
                                                            {{ children.title }}
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                                <br>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {# <li>
                        <a href="{{ path('contacto_cmsga')}}">CONTACTO</a>
                    </li> #}
                    <li>
                        <a class="btn btn-nav btnBuscar" type="button">
                            <i class="fa fa-search"></i>
                        </a>
                    </li>
                    {% block formBuscar %}
                        <div id="formBuscar" class="formBuscar">
                            {{ render(controller("CmsGaFrontBundle:Default:buscadorContenido")) }}
                        </div>
                    {% endblock %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#formBuscar").hide();
        });
        $(".btnBuscar, #btnCerraformBuscar").click(function () {
            $("#formBuscar").slideToggle();
        });
    </script>
{% endblock %}
