{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ titulo }}{% endblock %}

{% block seccionTitulo %}Pre-Inscripcion: {{ curso.title }}{% endblock %}

{% block medio %}  
    <section id="blog" class="container">
        
        {% if formDocumento %}
	        {{ form_start(formDocumento) }}
	        <div class="row">
	            <div class="col-lg-4 col-md-4 col-sm-4"></div>
	            <div class="col-lg-4 col-md-4 col-sm-4">
	                <div class="form-group">
	                    {{ form_label(formDocumento.dni) }}<br>
	                    {{ form_errors(formDocumento.dni) }}
	                    {{ form_widget(formDocumento.dni, { attr: {'class': 'form-control'}}) }}
	                </div>
	                <div class="col-md-12">
	                    <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
	                        Siguiente
	                    </button>
	                </div>
	            </div>
	            <div class="col-lg-4 col-md-4 col-sm-4"></div>
	        </div>
	        {{ form_end(formDocumento) }}
	    {% endif %}

        {% if formInscripcion %}
        	{{ form_start(formInscripcion) }}
	        <div class="row">
	            <div class="col-lg-4 col-md-4 col-sm-4">
	                <div class="form-group">
	                    {{ form_row(formInscripcion.nombre, { attr: {'class': 'form-control'}}) }}<br>
	                </div>
	            </div>
	            <div class="col-lg-1 col-md-1 col-sm-1"></div>
	            <div class="col-lg-4 col-md-4 col-sm-4">
	                <div class="form-group">
	                    {{ form_row(formInscripcion.correo, { attr: {'class': 'form-control'}}) }}<br>
	                </div>
	            </div>
	            <div class="col-lg-1 col-md-1 col-sm-1"></div>
	            <div class="hidden">
	                {{ form_row(formInscripcion.estado) }}<br>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-2 col-md-2 col-sm-2">
	                <div class="form-group">
	                    {{ form_row(formInscripcion.tipdoc, { attr: {'class': 'form-control'}}) }}<br>
	                </div>
	            </div>
	            <div class="col-lg-1 col-md-1 col-sm-1"></div>
	            <div class="col-lg-3 col-md-3 col-sm-3">
	                <div class="form-group">
	                    {{ form_row(formInscripcion.nrodoc, { attr: {'class': 'form-control'}}) }}<br>
	                </div>
	            </div>
	            <div class="col-lg-1 col-md-1 col-sm-1"></div>
	            <div class="col-lg-1 col-md-1 col-sm-1">
	                <div class="form-group">
	                    {{ form_row(formInscripcion.titulo, { attr: {'class': 'form-control'}}) }}<br>
	                </div>
	            </div>
	            <div class="col-lg-1 col-md-1 col-sm-1"></div>
	            <div class="col-lg-3 col-md-3 col-sm-3">
	                <div class="form-group">
	                    {{ form_row(formInscripcion.matricula, { attr: {'class': 'form-control'}}) }}<br>
	                </div>
	            </div>
				{% if curso.mpLinks %}
					{% for key, mpLink in curso.mpLinks %} 
						
					{% endfor %}
				{% endif %}
	            <div class="hidden">
	                {{ form_row(formInscripcion.calendario) }}<br>   
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-7 col-md-7 col-sm-7"></div>
	            <div class="col-lg-5 col-md-5 col-sm-5">
	                <button type="submit" class="btn btn-success btn-block" id="btnSubscribe">
	                    Inscribir
	                </button>
	            </div>
	        </div>
	        {{ form_end(formInscripcion) }}
        {% endif %}

    </section>
{% endblock %}