{% macro seccion1Block(component) %}
  <div class="portfolio" data-cat="logos">
    <div class="portfolio-wrapper">
      {% if (component.imagenes|length) > 0 and component.imagenes[0].webPath is not null %}
        <img src="{{ asset(component.imagenes[0].webPath|imagine_filter('noticia_inicio')) }}" alt="{{ component.imagenes[0].descripcion }}" />
      {% endif %}
      <div class="label">
        <div class="label-text">
          <a class="text-title">{{ component.titulo[:60] }}</a>
          <span class="text-category">{{ component.descripcion[:300] ~ '...'|raw }}</span>
        </div>
        <div class="label-bg"></div>
      </div>
    </div>
  </div>
{% endmacro %}

{% block medio %}
  <div class="container">
      <div class="portfolio_section">
          <div class="col-md-12 portfolio_top">
              <h1>{{ seccion.item.title }}</h1>
              {% if seccion.contenido is not empty %}
                  <p>{{ seccion.contenido|raw }}</p>
              {% endif %}
          </div>  
      </div>
      <div id="portfoliolist">
        {% if seccion.item.level == 1 and seccion.item.menu.nameSlug != "oculto" %}
            {% for key, noticia in seccion.noticias %}
            {#% for key, noticia in seccion.noticias if key < 6 %#}
                {{ _self.seccion1Block(noticia) }}
            {% endfor %}
        {% endif %}
      </div>
  </div>
{% endblock %}