<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ 'views.layout.bannersadmin'|trans({}, 'MWSimpleCrudGeneratorBundle') }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('bundles/mwsimplecrudgenerator/css/bootstrap.css') }}" rel="stylesheet">
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <link href="{{ asset('bundles/mwsimplecrudgenerator/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgaback/css/style.css') }}" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/mwsimplecrudgenerator/images/favicon.ico') }}">
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/jquery.min.js') }}"></script>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div class="container">
        {% block menu %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner"> 
                {{ knp_menu_render('main') }}
                {{ knp_menu_render('logout') }}
                <ul class="nav pull-right">
                    <li class="first last">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        {% endblock %}

        {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
                <div class="alert alert-{{ type }}">
                    {{ flashMessage|trans({}, 'MWSimpleCrudGeneratorBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block fos_user_content %}{% endblock %}
        {% block page %}{% endblock %}
    </div>

    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/bootstrap.js') }}"></script>

    {% block javascript %}{% endblock %}
</body>
</html>
