.formBuscar .modal {
    /*   display: block;*/
    padding-right: 0px;
    background-color: rgba(4, 4, 4, 0.8); 
}

.formBuscar .modal-dialog {
    top: 20%;
    width: 100%;
    position: absolute;
}
.formBuscar .modal-content  {
    border-radius: 0px;
    border: none;
    top: 40%;
}
.formBuscar .modal-body {
    background-color: #006EB1;
    color: white;
}
.inputBuscar{
    width: 100% !important;
}
.socialmedia a{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(34,93,161);
    line-height: 40px;
    border-radius: 50%;
    margin: 0 6px;
    font-size: 18px;
    transition: .3s linear;
   
}

.socialmedia a:hover{
    color: rgb(34,93,161);
    background-color: transparent;
    transform: scale(1.5);
}
.bordeSocialMedia{
    margin-right: 220px;  
}