.login-container{
    position: relative;
    width: 100%;
    margin-bottom: 10%;
    padding: 0px 40px 20px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

.product{
    box-shadow: 1px 5px 15px rgb(175, 175, 175);
    /* width: 15em; */
    height: 400px;
    bottom: 5px;
    border-radius: 3px;
<<<<<<< HEAD
    padding: 0.5em;
=======
    padding: 1em;
>>>>>>> 68e1afe05a16a445ae21b9889fa38aacb56f1369
    margin: 1em;
    overflow: hidden;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
            background: rgb(255, 255, 255);
            /* background-image: url(https://parquejazmin.com.ar/wp-content/uploads/2020/03/cpce.jpg); */
         
           
            background-repeat: round;
        }
<<<<<<< HEAD
  
    .slick-arrow{
            background-color: #b3b3b3;
            border: 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 5px;
            border-radius: 3px; 
            position: absolute;
    }
    .slick-next{
        float: left;
    }


=======
>>>>>>> 68e1afe05a16a445ae21b9889fa38aacb56f1369
  .marco-carusuel{
    box-shadow: 1px 5px 15px rgb(175, 175, 175);
    /* width: 15em; 
    height: 47s0px;*/
    /* top: 10px;
    margin-top: 5px; */
    text-overflow: ellipsis;
    margin-bottom: 30px;
    border-radius: 3px;
    padding: 1em;
    padding-left: 1em;
    margin: 1em;
    overflow: hidden;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
            /* background: rgb(255, 255, 255); */
        
  }
  .marcovermas{
    /* width: 15em;  ancho*/
    height:22em;    /*altura*/
    /* height: 29em; */
 }


#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}