.widget{margin-bottom: 30px}
.widget>h3{font-size:16px;margin-top:0}
.widget h5{margin-top:10px}
.widget .date{margin-top:5px;padding:8px 10px;background:#006EB1}
.widget .date>span{display:block;text-align:center;font-family:"Fjalla One";color:#fff}
.widget .date>span.month{font-size:14px;line-height:14px;font-weight:700;text-transform:uppercase}
.widget .date>span.day{font-size:18px;line-height:18px}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
.badge {
    background-color: transparent;
    border: 1px solid #42A129;
}