<div class="col-sm-8 ">
    <div class="blog">
        {% if (pagination.count==0) %}
            <div class="panel panel-info text-center">
                0 noticias
            </div>
        {% else %}
            {% for key, noticia in pagination %}
                <div class="row item-blog">
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        {% if (noticia.imagenes|length) > 0 and noticia.imagenes[0].webPath is not null %}
                            <ul class="portfolio-items" style="">
                                <li class="portfolio-item">
                                    <div class="item-inner"> 
                                        <a class="example-image-link-{{ key }}" href="{{ asset(noticia.imagenes[0].webPath) }}" data-lightbox="notica-Imagen-{{ key }}-set" data-title="{{ noticia.imagenes[0].descripcion }}">
                                            <img class="example-image-{{ key }}" src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagen_300x160_out')) }}" alt=""/>
                                        </a>
                                    </div>           
                                </li><!--/.portfolio-item-->
                            </ul>
                        {% else %}
                            <ul class="portfolio-items " style="">
                                <li class="portfolio-item">
                                    <div class="item-inner">
                                        <img src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagen_300x160_out')) }}" alt="">           
                                    </div>           
                                </li><!--/.portfolio-item-->
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <div class="blog-content">
                            <a href="{{ path('detalle_noticia', { 'id': noticia.id }) }}"><h3>{{ noticia.titulo }}</h3></a>
                            <div class="entry-meta">
                                {#<span><i class="icon-user"></i> <a href="javascript:;">John</a></span>#}
                                <span><i class="icon-calendar"></i> {{ noticia.fecha|localizeddate('long', 'none') }}</span>
                                {# <span><i class="icon-comment"></i> <a href="{{ path('detalle_noticia', { 'id': noticia.id }) }}">3 Comentarios</a></span>#}
                            </div>
                            <p class="descripcionNoticia">{{noticia.descripcion[:300] ~ '...'}}</p>
                            <div class="text-right">
                                <a class="btn btn-default" href="{{ path('detalle_noticia', { 'id': noticia.id }) }}">Leer más<i class="icon-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="navigation">
            {{ knp_pagination_render(pagination, 'CmsGaFrontBundle:cpceweb:pagination.html.twig') }}
        </div>
    </div>
</div><!--/.col-md-8-->