{% macro eventos(form) %}
    <div class='row'>
        <div class='col-lg-5 col-md-5 col-sm-5'>
            {{ form_widget(form.categorias.vars.prototype.controlCategoria) }}
        </div>
        <div class='col-lg-2 col-md-2 col-sm-2' style='vertical-align: middle'>
            <a class='btnRemoveCategoria btn btn-mini btn-danger' href='javascript:;'>
                <i class='glyphicon glyphicon-trash'></i>
            </a>
        </div>
    </div>
{% endmacro %} 

{% macro evento(categoria, key) %}
<div class='row'>
    <div class='col-lg-5 col-md-5 col-sm-5'>
        {{ form_widget(categoria.controlCategoria) }}
    </div>
    <div class='col-lg-2 col-md-2 col-sm-2 ' style='vertical-align: middle'>
        <a class='btnRemoveCategoria btn btn-mini btn-danger' href='javascript:;'>
            <i class='glyphicon glyphicon-trash'></i>
        </a>
    </div>
</div>
{% endmacro %}

<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5">
        Categoria
    </div>
</div>

<div data-prototype="{{ _self.eventos(form)|e }}" class="categorias">
    {% for key, categoria in form.categorias %} {{_self.evento(categoria, key)}} {% endfor %}
</div>
<br>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div id="buttonAgregarCategoriaAction" class="add_categoria btn-default">
            <a href="javascript:;" class="btn btn-default add_categoria_link">Agregar <i class="glyphicon glyphicon-plus"></i></a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        ocultarCategorias($("#CmsGa_CalendarioBundle_curso_sinControl:checked").prop('checked'));
    });

    $("#CmsGa_CalendarioBundle_curso_sinControl").click(function() {
        if ($(this).prop('checked')) {
            ocultarCategorias(true);
        } else {
            ocultarCategorias(false);
        }
    });

    function ocultarCategorias($ocultarCat) {
        if ($ocultarCat) {
            $("#ControlCategorias").show();
        } else {
            $("#ControlCategorias").hide();
        }
    }
</script>