{% macro eventos(form) %}
    <div class='row'>
        <div class='col-lg-5 col-md-5 col-sm-5'>{{ form_widget(form.fechas.vars.prototype.dia) }}</div>
        <div class='col-lg-2 col-md-2 col-sm-2'>
            {{ form_widget(form.fechas.vars.prototype.horaInicio) }}
        </div>
        <div class='col-lg-2 col-md-2 col-sm-2'>
            {{ form_widget(form.fechas.vars.prototype.horaFin) }}
        </div>
        <div class='col-lg-2 col-md-2 col-sm-2' style='vertical-align: middle'>
            <a class='btnRemoveFecha btn btn-mini btn-danger' href='javascript:;'>
                <i class='glyphicon glyphicon-trash'></i>  
            </a>
        </div> 
    </div>

{% endmacro %}

{% macro evento(fecha, key) %}
    <div class='row'>
        <div class='col-lg-5 col-md-5 col-sm-5'>{{ form_widget(fecha.dia) }}</div>
        <div class='col-lg-2 col-md-2 col-sm-2'>
            {{ form_widget(fecha.horaInicio) }}

        </div>
        <div class='col-lg-2 col-md-2 col-sm-2' >
            {{ form_widget(fecha.horaFin) }}

        </div>
        <div class='col-lg-2 col-md-2 col-sm-2 ' style='vertical-align: middle'>
            <a class='btnRemoveFecha btn btn-mini btn-danger' href='javascript:;'>
                <i class='glyphicon glyphicon-trash'></i> 
            </a>
        </div>
    </div>
{% endmacro %}

<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5">
        Dia
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
        Hora inicio
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
        Hora fin
    </div>
</div>

<div data-prototype="{{ _self.eventos(form)|e }}" class="fechas">
    {% for key, fecha in form.fechas %}
        {{_self.evento(fecha, key)}}
    {% endfor %}
</div>
<br>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div id="buttonAgregarFechaAction" class="add_fecha btn-default">
            <a href="javascript:;" class="btn btn-default add_fecha_link">Agregar <i class="glyphicon glyphicon-plus"></i></a>
        </div>
    </div>
</div>