{% macro eventos(form) %}
    <div class='row'>
        <div class='col-lg-8 col-md-8 col-sm-12'>
            {{ form_row(form.mpLinks.vars.prototype.titulo) }}
        </div>
        <div class='col-lg-2 col-md-2 col-sm-12'>
            {{ form_row(form.mpLinks.vars.prototype.importe) }}
        </div>
        <div class='col-lg-2 col-md-2 col-sm-12'>
            {{ form_row(form.mpLinks.vars.prototype.codigoRef) }}
        </div>
        <div class='col-lg-3 col-md-3 col-sm-8'>
            {{ form_row(form.mpLinks.vars.prototype.dia) }}
        </div>
        <div class='col-lg-3 col-md-3 col-sm-8'>
            {{ form_row(form.mpLinks.vars.prototype.horaExp) }}
        </div>
        <div class='col-lg-4 col-md-4 col-sm-2'></div>
        <div class='col-lg-2 col-md-2 col-sm-2' style='vertical-align: middle'>
            <a class='btnRemoveMpLink btn btn-mini btn-danger' href='javascript:;'>
                <i class='glyphicon glyphicon-trash'></i>
            </a>
        </div>
    </div>
    <hr>
{% endmacro %} 

{% macro evento(mpLink, key) %}
<div class='row'>
    <div class='col-lg-12 col-md-12 col-sm-12'>
        {{ form_row(mpLink.titulo) }}
    </div>
    <div class='col-lg-12 col-md-12 col-sm-12'>
        {{ form_row(mpLink.importe) }}
    </div>
    <div class='col-lg-12 col-md-12 col-sm-12'>
        {{ form_row(mpLink.codigoRef) }}
    </div>
    <div class='col-lg-12 col-md-12 col-sm-12'>
        {{ form_row(mpLink.dia) }}
    </div>
    <div class='col-lg-12 col-md-12 col-sm-12'>
        {{ form_row(mpLink.horaExp) }}
    </div>
    <div class='col-lg-2 col-md-2 col-sm-2 ' style='vertical-align: middle'>
        <a class='btnRemoveMpLink btn btn-mini btn-danger' href='javascript:;'>
            <i class='glyphicon glyphicon-trash'></i>
        </a>
    </div>
</div>
{% endmacro %}

<div data-prototype="{{ _self.eventos(form)|e }}" class="mplinks">
    {% for key, mpLink in form.mpLinks %} {{_self.evento(mpLink, key)}} {% endfor %}
</div>
<br>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div id="buttonAgregarMpLinkAction" class="add_mpLink btn-default">
            <a href="javascript:;" class="btn btn-default add_mplink">Agregar <i class="glyphicon glyphicon-plus"></i></a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        ocultarMpLinks($("#CmsGa_CalendarioBundle_curso_mpActive:checked").prop('checked'));
    });

    $("#CmsGa_CalendarioBundle_curso_mpActive").click(function() {
        if ($(this).prop('checked')) {
            ocultarMpLinks(true);
        } else {
            ocultarMpLinks(false);
        }
    });

    function ocultarMpLinks($ocultarCat) {
        if ($ocultarCat) {
            $("#ControlMpLinks").show();
        } else {
            $("#ControlMpLinks").hide();
        }
    }
</script>