<style type="text/css">
    .navbar-form {
        margin-right: 0 !important;
    }
</style>
{% form_theme find_form '@dirname/Form/findForm.html.twig' %}
{{ form_start(find_form) }}
{{ form_end(find_form) }}