<div class="navbar-izquierda navbar navbar-default navbar-fixed-left" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-direcciones">
        <span class="sr-only">Direcciones</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-titulo navbar-brand" href="#">Direcciones</a>
    </div>
    <div class="collapse navbar-collapse" id="menu-direcciones">
    	<ul class="nav nav-pills nav-stacked">
    	<li>&nbsp;</li><li>&nbsp;</li>
    		{% if (menu.items is defined) %}
    			{% for item in menu.items %}
    				<li class="mwstooltip {#% if (path(app.request.attributes.get('_route'))== path('calendario')) %}active{% endif %#}" data-toggle="tooltip" data-placement="top" title="{{ item.name }}"><a href="{{ path('seccion_front', { 'sec': item.seccion.url }) }}">{{ item.title }}</a>
    				</li>
    			{% endfor %}
    		{% endif %}
    	</ul>
    </div>
  </div>
</div>