{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}Inicio{% endblock %}

{% macro contentBlock(component) %}
    <div class="intro col-lg-6 col-md-6 col-sm-6">
        <div class="bs-callout">
            <span class="fecha">{{ component.fecha|localizeddate('long', 'none') }}</span>
            <h4>{{ component.titulo[:60] }}</h4>
            <div class="act">
                {% if (component.imagenes|length) > 0 and component.imagenes[0].webPath is not null %}
                    <img src="{{ asset(component.imagenes[0].webPath|imagine_filter('noticia_inicio')) }}" />
                {% endif %}
            </div>
            <p class="text-justify">{{ component.descripcion[:80] ~ '...'|raw }}</p>
            {% if component.pdf.filePath is not null %}
                <a class="pull-left pdf" href="{{ asset(component.pdf.webPath) }}" download="{{ component.titulo }}.pdf">PDF</a>
            {% endif %}
            <a href="{{ path('detalle_noticia', { 'id': component.id }) }}">Leer mas</a>
            <div class="clear"></div>
        </div>
    </div>
{% endmacro %}

{% block medio %}
    <div class="row">
        {% for noticia in noticias %}
            {{ _self.contentBlock(noticia) }}
        {% endfor %}
    </div>
{% endblock %}
