{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
    Listado de Inscriptos a Curso
{% endblock %}
{% block stylesheets %}
    <style type="text/css">
        .trash { color:rgb(209, 91, 71); }
        .flag { color:rgb(248, 148, 6); }
        .panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
        .fa-fw {width: 2em;}
    </style>
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="filters-right">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>
                    Listado de Inscriptos
                    <div class="pull-right action-buttons">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-download-alt" style="margin-right: 0px;"></span>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li><a href="{{ path('admin_cpce_inscripcion_export_filter', { 'format': "xls", 'filter': idCalendario }) }}">EXCEL</a></li>
                                <li><a href="{{ path('admin_cpce_inscripcion_export_filter', { 'format': "csv", 'filter': idCalendario }) }}">CSV</a></li>
                                <li><a href="{{ path('admin_cpce_inscripcion_export_filter', { 'format': "json", 'filter': idCalendario }) }}">JSON</a></li>
                            </ul>
                        </div>
                    </div>
                </h4>
            </div>
            <div class="panel-body">
                <table id="tablaPrincipal" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Apellido y Nombre</th>
                            <th>DNI</th>
                            <th>Titulo</th>
                            <th>Matricula</th>
                            <th>Correo</th>
                            <th>Curso</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>  
                            {% for key, entity in entities %}
                                <td>{{ entity.nombre }}</td>
                                <td>{{ entity.nrodoc }}</td>
                                <td>{{ entity.titulo }}</td>
                                <td>{{ entity.matricula }}</td>
                                <td>{{ entity.correo }}</td>
                                <td>{{ entity.calendario.title }}</td>
                                <td>{{ entity.estado }}</td>
                                
                                {% if entity.estado != 'Abonado' %}
                                    <td>
                                        <a class="glyphicon glyphicon-search tooltips"  href="{{ path(config.show, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                                        <a class="glyphicon glyphicon-edit tooltips"  href="{{ path(config.edit, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                                        <a class="glyphicon glyphicon-ok-sign tooltips"  href="{{ path('admin_cpce_estado_edit', { 'id': entity.id, 'state': 'Abonado' }) }}" title="Marcar Abonado" rel="tooltip" data-placement="bottom"></a>
                                    </td>
                                {% else %}
                                    <td>
                                        <a class="glyphicon glyphicon-search tooltips"  href="{{ path(config.show, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                                        <a class="glyphicon glyphicon-edit tooltips"  href="{{ path(config.edit, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                                    </td>
                                {% endif %}

                            {% endfor %}
                        </tr>  
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                {#<div class="col-lg-12 col-md-12 col-sm-12 navigation">
                  {{ knp_pagination_render(entities) }}
               </div>#}
                {% block panelFooter %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <a class="btn btn-success " href="{{ path(config.new) }}">
                                {{ 'views.index.createnew'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                            </a>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% endblock %}