{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('bundles/cmsgaback/css/pick-a-color-1.2.3.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/cmsgaback/jquery-date-range-picker/daterangepicker.css') }}">
    <script src="{{ asset('bundles/cmsgaback/jquery-date-range-picker/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/cmsgaback/jquery-date-range-picker/daterangepicker.js') }}"></script>
    <style>
        .input-group .form-control,
        .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
            z-index: 0 !important;
        }
    </style> 
{% endblock %}
{% block form %}
    {% form_theme form 'CmsGaCalendarioBundle:Form:evento-form.html.twig' %}
    {{ form(form) }}
{% endblock %}


{% block javascript %}
    {{parent()}}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="{{ asset('bundles/cmsgaback/js/tinycolor-0.9.15.min.js') }}"></script>
    <script src="{{ asset('bundles/cmsgaback/js/pick-a-color-1.2.3.min.js') }}"></script>
    <script type="text/javascript">
        var calendario = "evento";
        $(".pick-a-color").pickAColor({
            defaultColor: 'ffffff'
        });
    </script>
    <script src="{{ asset('bundles/cmsgaback/js/tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/addForm.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/noticia.js') }}"></script>
    <script src="{{ asset('bundles/cmsgaback/js/fechas.js') }}"></script>    
    <script src="{{ asset('bundles/cmsgaback/js/fecha-inicio-fin.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/cmsgaback/js/selectPage.js') }}"></script>
{% endblock %}