{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ titulo }}{% endblock %}

{% block seccionTitulo %}{{ entity.title }}{% endblock %}

{% block medio %}  
    <section class="blog-section section style-four style-five">
        <div class="container">
            <div class="row">
                {% if entity.imagenes | length > 0 %}
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="left-side">
                            <div class="item-holder">
                                <div class="image-box">
                                    <figure>
                                        {% for img in entity.imagenes %}
                                            <img src="{{ asset(img.webPath|imagine_filter('imagen_ancho600')) }}" alt="{{ img.descripcion }}"/>
                                        {% endfor %}
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <strong>Código:</strong> AGENDA_{{ entity.id }}
                        </div>
                        {% if entity.disertante %}
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                <strong>Disertante:</strong> {{ entity.disertante }}
                            </div>
                        {% endif %}
                    </div>  
                    <br>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <strong>Inicio: </strong>{{ entity.startDatetime|localizeddate("long", "none") }}
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <strong>Cierre: </strong>{{ entity.endDatetime|localizeddate("long", "none") }}
                        </div>
                        {% if entity.permiteInscripcion %}
                            <div class="col-lg-2 col-md-2 col-sm-12">
                                <a href="{{ path('inscripcion_curso', { 'id': entity.id }) }}" class="btn btn-success">Inscribirme</a>
                            </div>
                        {% endif %}
                    </div>
                    <br>
                    <strong>{{ entity.descripcion }}</strong>
                    {{ entity.contenido|raw }}
                    {%if entity.allDay %}
                        <p><strong>Horario:</strong> Todo el día</p>
                    {% else %}
                        <div class="panel panel-info">
                            <div class="panel-heading">Horarios</div>
                            <div class="panel-body">
                                <table class="table" style="margin-bottom: 0;">
                                    <thead>
                                        <tr>
                                            <th>Días</th>
                                            <th>Inicio</th>
                                            <th>Fin</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for fecha in entity.fechas %}
                                            <tr>
                                                <td>{{ fecha.dia|localizeddate("medium", "none", null, null, "EEEE") }}</td>
                                                <td>{{ fecha.horaInicio|date('H:i') }} hs.</td>
                                                <td>{{ fecha.horaFin|date('H:i') }} hs.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section><!--/#blog-->    
</div>
{% endblock %}