{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{# seccion.item.title #}{{ titulo }}{% endblock %}

{% block seccionTitulo %}{# seccion.item.title #}{{ titulo }}{% endblock %}

{% block seccionDescripcion %}Listado de {{ titulo }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/cmsgafront/cpce/css/listado.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/cpce/css/menuCalendario.css') }}" rel="stylesheet">
{% endblock %}
{% block medio %}  
    {{ include("@dirname/Plantilla/seccionLateralCalendario.html.twig") }}
    <hr>
    <div class="row calendario">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <section id="faqs" class="container">
                <div class=" col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        {% for key, evento in proximos %}
                            <div class="widget widget-popular">
                                <div class=" widget-blog-items">
                                    <div class="widget-blog-item media">
                                        <div class="pull-left">
                                            <a href="{{path(path_detalle, { 'id': evento.id })}}">
                                                <div class="date">
                                                    <span class="month">{{ evento.startDatetime|localizeddate("medium", "none", null, null, "LLL") }}</span>
                                                    <span class="day">{{ evento.startDatetime|date("d") }}</span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <a href="{{ path(path_detalle, { 'id': evento.id }) }}">
                                                <h4>{{evento.title}}</h4>  
                                            </a>
                                            <p>{{evento.descripcion}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endfor%}
                    </div>
                    <div class="row">
                        {% if (pagination.count != 0) %}
                            {% for key, evento in pagination %}
                                <div class="widget widget-popular">
                                    <div class=" widget-blog-items">
                                        <div class="widget-blog-item media">
                                            <div class="pull-left">
                                                <a href="{{path(path_detalle, { 'id': evento.id })}}">
                                                    <div class="date">
                                                        <span class="month">{{ evento.startDatetime|localizeddate("medium", "none", null, null, "LLL") }}</span>
                                                        <span class="day">{{ evento.startDatetime|date("d") }}</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="{{ path(path_detalle, { 'id': evento.id }) }}">
                                                    <h4>{{evento.title}}</h4>  
                                                </a>
                                                <p>{{evento.descripcion}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {%endfor%}
                        {% endif %}
                    </div>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </section><!--#faqs--> 
        </div>  
    </div>  
{% endblock %}