{% if entity is empty %}
    {# <p class="alert alert-info">0 {{ titulo }}</p> #}
{% else %}
    {% for evento in entity %}
        <li>
            <a href="{{ path(path_detalle, { 'id': evento.id }) }}">
                <span class="badge badge-secondary">{{ evento.startDatetime|date("d/m") }}</span>
                {# <strong style="color: #{{ evento.bgColor }}">
                    {% if evento.category %}{{ evento.category }}{% else %}{{ subTituloAgenda }}{% endif %}
                </strong> #}
                {{ evento.title }}
            </a>
        </li>
    {% endfor %}
{% endif %}