{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('bundles/cmsgaback/lightbox/css/lightbox.css') }}" rel="stylesheet">
{% endblock %}
{% block page %}
    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <fieldset>    
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-push-5 col-md-push-5 col-sm-push-5">
                            <label class="control-label">Imagen</label><br>
                            {% if entity.webPath is not null %}
                                <a class="example-image-link" href="{{ asset(entity.webPath) }}" data-lightbox="ImagenPortada-set" data-title="{{entity.descripcion}}">
                                    <img class="example-image" src="{{ asset(entity.webPath) | imagine_filter('imagen_ancho200') }}" alt=""/>
                                </a>
                            {% endif %}
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <label class="control-label">Descripción</label>
                            <div class="well">
                                {{ entity.descripcion }}   
                            </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="control-label">Orden</label>
                            <div class="form-control">                  
                                <span class="input-xlarge uneditable-input">{{ entity.orden }}</span>        
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <label class="control-label">Publicado</label>
                            <div class="form-control">                  
                                <span class="input-xlarge uneditable-input">{{ isActive(entity.publicado) }}</span>        
                            </div>
                        </div>  
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}
{% block javascript %}
    {{parent()}}
    <script src="{{ asset('bundles/cmsgaback/lightbox/js/lightbox.min.js') }}"></script>
{% endblock %}
