{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ titulo }}{% endblock %}

{% block seccionTitulo %}{{ entity.title }}{% endblock %}

{% block medio %}  
    <section id="blog" class="container">
        <div class="row">
            {% if entity.imagenes | length > 0 %}
                <div id="portfolio" class="col-lg-6 col-md-6 col-sm-6">
                    <ul class="portfolio-items">
                        {% for img in entity.imagenes %}
                            <li class="portfolio-item apps">
                                <div class="item-inner">
                                    <a class="example-image-link" href="{{ asset(img.webPath) }}" data-lightbox="notica-Imagen-set" data-title="{{img.descripcion}}">
                                        <img class="example-image" src="{{ asset(img.webPath|imagine_filter('imagen_ancho600')) }}" alt=""/>
                                    </a>
                                </div>           
                            </li><!--/.portfolio-item-->
                        {% endfor %}
                    </ul>
                </div><!--/#portfolio-->
            {% endif %}
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <strong>Inicio: </strong>{{ entity.startDatetime|localizeddate("long", "none") }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <strong>Cierre: </strong>{{ entity.endDatetime|localizeddate("long", "none") }}
                    </div>
                </div>
                <br>
                <strong>{{ entity.descripcion }}</strong>
                {{ entity.contenido|raw }}
                {%if entity.allDay %}
                    <p><strong>Horario:</strong> Todo el día</p>
                {% else %}
                    <div class="panel panel-info">
                        <div class="panel-heading">Horarios</div>
                        <div class="panel-body">
                            <table class="table" style="margin-bottom: 0;">
                                <thead>
                                    <tr>
                                        <th>Días</th>
                                        <th>Inicio</th>
                                        <th>Fin</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for fecha in entity.fechas %}
                                        <tr>
                                            <td>{{ fecha.dia|localizeddate("medium", "none", null, null, "EEEE") }}</td>
                                            <td>{{ fecha.horaInicio|date('H:i') }} hs.</td>
                                            <td>{{ fecha.horaFin|date('H:i') }} hs.</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section><!--/#blog-->    
</div>
{% endblock %}