{% block slider_widget %}
{% spaceless %}
    <input type="slider" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% else %} value="0"{% endif %}/>
{% endspaceless %}
{% endblock slider_widget %}
