{% form_theme form _self %}

{% block form_start %}
    {% spaceless %}
        {% set method = method|upper %}
        {% if method in ["GET", "POST"] %}
            {% set form_method = method %}
        {% else %}
            {% set form_method = "POST" %}
        {% endif %}
        {# <div class="panel panel-default">
             <div class="panel-body">#}
        <form method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %} role="form">
            {% if form_method != method %}
                <input type="hidden" name="_method" value="{{ method }}" />
            {% endif %}

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-lg-push-3 col-md-push-2 col-sm-push-2">
                    {{ form_row(form.texto) }}
                </div>
                <div class="col-lg-2 col-md-6 col-sm-2 col-lg-push-3 col-md-push-2 col-sm-push-2">
                    {{ form_row(form.tipo) }}
                </div>
                <div class="col-lg-1 col-md-6 col-sm-4 col-lg-push-3 col-md-push-2 col-sm-push-2">
                    <button class="btn btn-info" type="submit"><i class="icon-search"></i></button>
                    <button id="btnCerraformBuscar" class="btn btn-danger " type="reset">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        {% endspaceless %}
    {% endblock form_start %}
    {% block form_end %}
    </form>
    {#</div>
</div>#} 
{% endblock form_end %}