{% extends "@dirname/layout.html.twig" %}

{% block backTitle %}{{ noticia.seccion.item.title }}{% endblock %}

{% block seccionTitulo %}{{ noticia.seccion.item.title }}{% endblock %}

{% block seccionDescripcion %}Listados noticias, eventos y más...{% endblock %}

{% block medio %}
    <section class="blog-section section style-four style-five">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="left-side">
                        <div class="item-holder">
                            <div class="image-box">
                                <figure>
                                    {% if noticia.imagenes|length > 0 %}
                                        {% if noticia.imagenes[0].webPath is not null %}
                                            <img src="{{ asset(noticia.imagenes[0].webPath) }}" alt="{{ noticia.imagenes[0].descripcion }}" />
                                            {# {{ asset(noticia.imagenes[0].webPath|imagine_filter('imagen_ancho260')) }} #}
                                        {% endif %}
                                    {% elseif noticia.imagenPortada is not null %}
                                        {% if noticia.imagenPortada.webPath is not null %}
                                            <img src="{{ asset(noticia.imagenPortada.webPath) }}" alt="{{ noticia.imagenPortada.descripcion }}" />
                                            {# {{ asset(noticia.imagenPortada.webPath|imagine_filter('imagen_ancho260')) }} #}
                                        {% endif %}
                                    {% endif %}
                                </figure>
                            </div>
                            <div class="content-text">
                                <a href="single-blog.html"><h5>{{ noticia.titulo }}</h5></a>
                                <span>{{ noticia.fecha|localizeddate('long', 'none') }}</span>
                                <div>{{ noticia.contenido|raw }}</div>
                                <br>
                                {% if noticia.imagenes|length > 0 or noticia.archivo is not null or noticia.videos is not null %}
                                    <div class="blog row">
                                        <div class="blog-item col-lg-12">
                                            <div class="blog-content">
                                                {% if noticia.imagenes|length > 0 %}
                                                    <section id="portfolio">
                                                        <ul class="portfolio-items row">
                                                            {% for key,img in noticia.imagenes %}
                                                                <li class="portfolio-item apps col-lg-4">
                                                                    <div class="item-inner">
                                                                        <a class="example-image-link-for" href="{{ asset(img.webPath) }}" data-lightbox="notica-ImagenPortadafor-set" data-title="{{ img.descripcion }}">
                                                                            <img class="example-for-image" src="{{ asset(img.webPath|imagine_filter('imagen_ancho260')) }}" alt=""/>
                                                                        </a>
                                                                    </div>
                                                                </li><!--/.portfolio-item-->
                                                            {% endfor %}
                                                        </ul>
                                                    </section><!--/#portfolio-->
                                                {% endif %}

                                                {% if noticia.archivo %}
                                                    {% if noticia.archivo.filePath is not null %}
                                                        <div class="round round-lg">
                                                            <a href="{{ asset(noticia.archivo.webPath) }}" download="{{ noticia.titulo }}" style="color:#fff;">
                                                                <span class="glyphicon glyphicon-file"></span> 
                                                            </a>
                                                        </div>
                                                        <a class="btn btn-style-two" href="{{ asset(noticia.archivo.webPath) }}" download="{{ noticia.titulo }}">
                                                            <i class="fa fa-caret-down"></i>Descargar Archivo
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                                {% if noticia.videos %}
                                                    <div class="row">
                                                        {% for video in noticia.videos %}
                                                            <div class="col-md-4">
                                                                <div class="embed-responsive embed-responsive-4by3">
                                                                    {{ video.codigoIframe|raw }}
                                                                </div>
                                                            </div><!--.col -->
                                                        {% endfor %}
                                                    </div><!--./row -->
                                                {% endif %}
                                            </div>
                                        </div><!--/.blog-item-->
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="right-side">
                        <div class="categorise-menu">
                            {{ include("@dirname/Plantilla/seccionLateralBlog.html.twig") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}