        {% if (pagination.count==0) %}
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-info text-center">
                    0 noticias
                </div>
            </div>
        {% else %}
            {% for key, noticia in pagination %}
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="left-side">
                        <div class="item-holder">
                            <div class="image-box">
                                <figure>
                                    {% if (noticia.imagenes|length) > 0 and noticia.imagenes[0].webPath is not null %}
                                        <a href="{{ asset(noticia.imagenes[0].webPath) }}">
                                            <img class="example-image-{{ key }}" src="{{ asset(noticia.imagenes[0].webPath|imagine_filter('imagen_300x160_out')) }}" alt=""/>
                                        </a>
                                    {% else %}
                                        <img src="{{ asset('bundles/cmsgafront/cpce/images/slider/cpce_portada.jpg'|imagine_filter('imagen_300x160_out')) }}" alt="">
                                    {% endif %}
                                    <a href="single-blog.html"><img src="images/cpce_portada.jpg" alt=""></a>
                                </figure>
                            </div>
                            <div class="content-text">
                                <a href="{{ path('detalle_noticia', { 'id': noticia.id }) }}"><h5>{{ noticia.titulo }}</h5></a>
                                <span>{{ noticia.fecha|localizeddate('long', 'none') }}</span>
                                <p>{{noticia.descripcion[:300] ~ '...'}}</p>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary" href="{{ path('detalle_noticia', { 'id': noticia.id }) }}">Leer más</a>
                    <br><br>
                </div>
            {% endfor %}
        {% endif %}
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="navigation">
                {{ knp_pagination_render(pagination, 'CmsGaFrontBundle:cpceweb:pagination.html.twig') }}
            </div>
        </div>