{% block mwsimple_bundle_repositoryfilesbundle_categoria_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    {{ form_errors(form) }}
    <fieldset>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.nombre) }}
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                {{ form_row(form.secciones) }}
            </div>            
        </div>
    </fieldset>
{% endblock %}
