{% block  contenidoOrganizacion  %}
    {{ seccion.contenido|raw }}
{% endblock %}
{% if seccion.imagenes|length > 0 or seccion.archivo is not null %}
    <div class="blog row">
        <div class="blog-item col-lg-12">
            <div class="blog-content">
                {% if seccion.imagenes|length > 0 %}
                    <section id="portfolio">
                        <ul class="portfolio-items row">
                            {% for img in seccion.imagenes %}
                                <li class="portfolio-item apps col-lg-4">
                                    <div class="item-inner">
                                        <a class="example-image-link" href="{{ asset(img.webPath) }}" data-lightbox="notica-imagen-set" data-title="{{img.descripcion}}">
                                            <img class="example-image" src="{{ asset(img.webPath|imagine_filter('imagen_ancho260')) }}" alt=""/>
                                        </a>
                                    </div>
                                </li><!--/.portfolio-item-->
                            {% endfor %}
                        </ul>
                    </section><!--/#portfolio-->
                {% endif %}

                {% if seccion.archivo %}
                    {% if seccion.archivo.filePath is not null %}
                        <div class="round round-lg">
                            <a href="{{ asset(seccion.archivo.webPath) }}" download="{{ seccion.archivo.descripcion }}" style="color:#fff;">
                                <span class="glyphicon glyphicon-file"></span> 
                            </a>
                        </div>
                        <a class="btn btn-style-two" href="{{ asset(seccion.archivo.webPath) }}" download="{{ seccion.archivo.descripcion }}">
                            <i class="fa fa-caret-down"></i>Descargar Archivo
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
