<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        {{ form_row(form.archivo.file) }}
    </div>
    {% if form.archivo_eliminar is defined %}
        <div class="col-lg-6 col-md-6 col-sm-6">
            {{ form_row(form.archivo_eliminar) }}
        </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        {{ form_row(form.archivo.descripcion) }}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        {{ form_row(form.archivo.categoria) }}
        {% if form.archivo_eliminar is defined %}
            {{ form_row(form.archivo_eliminar) }}
        {% endif %}
    </div>
</div>


