{% block CmsGa_CalendarioBundle_curso_widget %} {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %} {{ form_errors(form) }}

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Detalles</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Fechas y Horarios</a></li>
    <li role="presentation"><a href="#images" aria-controls="images" role="tab" data-toggle="tab">Imagenes</a></li>
    <li role="presentation"><a href="#videos" aria-controls="videos" role="tab" data-toggle="tab">Videos</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Controles</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
        <br>
        <fieldset>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-4">
                    {{ form_row(form.title) }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-4">
                    {{ form_row(form.disertante) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-6">
                    {{ form_row(form.descripcion) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {{ form_row(form.contenido) }}
                </div>
            </div>
        </fieldset>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        <br>
        <fieldset>
            <div class="row">
                <div class="col-lg-3 col-md-2 col-sm-4">
                    {{ form_row(form.startEndDatetime) }}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Días:</legend>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {% include 'CmsGaCalendarioBundle:widget:addFecha.html.twig' with { 'form' : form } %}
                </div>
            </div><br></br>
        </fieldset>
    </div>
    <div role="tabpanel" class="tab-pane" id="images">
        <br>
        <fieldset>
            <legend>Imagen de Portada:</legend>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {% include 'CmsGaBackBundle:widget:add-imagenPortada.field.html.twig' with { 'form' : form } %}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Imagenes:</legend>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 well">
                    {% include 'CmsGaBackBundle:widget:add-imagenes.field.html.twig' with { 'form' : form } %}
                </div>
            </div>
        </fieldset>
    </div>
    <div role="tabpanel" class="tab-pane" id="videos">
        <br>
        <fieldset>
            <legend>Videos:</legend>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 well">
                    {% include 'CmsGaBackBundle:widget:add-videos.field.html.twig' with { 'form' : form } %}
                </div>
            </div>
        </fieldset>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
        <br>
        <fieldset>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    {{ form_row(form.activo) }}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Calendario:</legend>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    {{ form_row(form.category) }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    {{ form_row(form.bgColor) }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    {{ form_row(form.fgColor) }}
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Otros:</legend>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    {{ form_row(form.allDay) }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    {{ form_row(form.permiteInscripcion) }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    {{ form_row(form.sinControl) }}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                    {{ form_row(form.mpActive) }}
                </div>
            </div>
        </fieldset>
        <fieldset id="ControlCuentas">
            <legend>Control de Cuentas y Montos:</legend>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {% include 'CmsGaCalendarioBundle:widget:addCuenta.html.twig' with { 'form' : form } %}
                </div>
            </div><br></br>
        </fieldset>
        <fieldset id="ControlCategorias">
            <legend>Bloqueo de Categorias:</legend>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {% include 'CmsGaCalendarioBundle:widget:addCategoria.html.twig' with { 'form' : form } %}
                </div>
            </div><br></br>
        </fieldset>
        <fieldset id="ControlMpLinks">
            <legend>Links de Mercado Pago:</legend>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    {% include 'CmsGaCalendarioBundle:widget:addMpLink.html.twig' with { 'form' : form } %}
                </div>
            </div><br></br>
        </fieldset>
        {% include 'CmsGaBackBundle:widget:macro-publicar-facebook.htm.twig' with { 'form' : form } %} {% endblock %}
    </div>
  </div>
</div>