{% block CmsGa_CalendarioBundle_evento_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    {{ form_errors(form) }}
    <fieldset>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.title) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.category) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(form.startEndDatetime) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                {{ form_row(form.allDay) }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                {{ form_row(form.activo) }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                {{ form_row(form.permiteInscripcion) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(form.descripcion) }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                {{ form_row(form.bgColor) }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                {{ form_row(form.fgColor) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {{ form_row(form.contenido) }}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Imagen Portada</legend>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {% include 'CmsGaBackBundle:widget:add-imagenPortada.field.html.twig' with { 'form' : form } %}
            </div>
        </div>
    </fieldset>    
    <fieldset>
        <legend>Fechas</legend>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {%  include 'CmsGaCalendarioBundle:widget:addFecha.html.twig' with { 'form' : form } %}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Imagenes</legend>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 well">
                {%  include 'CmsGaBackBundle:widget:add-imagenes.field.html.twig' with { 'form' : form } %}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Videos</legend>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 well">
                {%  include 'CmsGaBackBundle:widget:add-videos.field.html.twig' with { 'form' : form } %}
            </div>
        </div>
    </fieldset>
    {% include 'CmsGaBackBundle:widget:macro-publicar-facebook.htm.twig' with { 'form' : form } %}
{% endblock %}

