{% extends "::base.html.twig" %}
{% block title %}ADN AGRO {% block backTitle %}{% endblock %}{% endblock %}

{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CPCE">
    <meta name="author" content="CPCE">
    <link rel="shortcut icon" href="{{ asset('bundles/cmsgafront/adnagroweb/images/favicon.gif') }}">
{% endblock %}

{% block stylesheets %}    
    <link href="{{ asset('bundles/cmsgafront/cpce/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/cpce/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/cpce/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/cpce/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgafront/cpce/css/mainRecargado.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/cmsgaback/lightbox/css/lightbox.css') }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-63270979-1', 'auto');
        ga('send', 'pageview');
    </script>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/cmsgafront/cpce/js/jquery.js') }}"></script>
{% endblock %}

{% block body %}
    {% block menu %}
        {{ render(controller("CmsGaFrontBundle:Default:menu", {'slug': 'menu_principal', 'level': 1})) }}
    {% endblock %}
    {% block container %}
        {% block paginaTitulo %}
            <section id="title" class="emerald ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>{% block seccionTitulo %}{% endblock %}</h1>
                            <p>{% block seccionDescripcion %}{% endblock %}</p>
                        </div>
                        {#<div class="col-sm-6">
                            <ul class="breadcrumb pull-right">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Contact Us</li>
                            </ul>
                        </div>#}
                    </div>
                </div>
            </section><!--/#title--> 
        {% endblock %}
        {% block medio %}

        {% endblock %}
        <section id="bottom" class="wet-bodyFooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h4><strong>Sobre Nosotros</strong></h4>
                        <p>          

Para mejorar la rentabilidad del negocio agropecuario e identificar las fortalezas de cada explotación en la región NEA, nace al mercado la Empresa ADN Agro.

Su misión principal es la de acercar al productor y empresario, las mejores herramientas de insumos y servicios, para lograr la tan ansiada rentabilidad; sin dejar de lado el respeto por el ambiente y el desarrollo de las personas.
                        </p>
                        
                    </div><!--/.col-md-3-->

                    <div class="col-md-3 col-sm-6">
                        <h4><strong>ADN AGRO</strong></h4>
                        <div>
                            <ul class="arrow">                                
                                <li><a href="{{path('seccion_front', { 'sec': 'menu_principal_informacion'})}}">Información</a></li>
                                <li><a href="{{path('seccion_front', { 'sec': 'menu_principal_productos'})}}">Productos</a></li>
                                <li><a href="{{path('seccion_front', { 'sec': 'menu_principal_servicios'})}}">Servicios</a></li>
                            </ul>
                        </div>
                    </div><!--/.col-md-3-->



                    <div class="col-md-3 col-sm-6">
                        <h4><strong>Dirección</strong></h4>
                        <address>
                            Zorzal 3453 - Resistencia (Chaco)<br>
                            <abbr title="Phone"><strong>Teléfono</strong></abbr><br>
                            (0362) 154694768<br>
                            (0362) 154614474<br>                            
                        </address>
                        <h4><strong>Correos Informativos</strong></h4>
                        <!-- Button trigger modal -->
                        <button type="button" id="btnSuscipcionCorreo" class="btn btn-info btn-small" data-toggle="modal" data-target="#myModal">
                            Inscribirse
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Formulario de inscripción</h4>
                                    </div>
                                    <div class="modal-body" >
                                        <div class="row" id="formInscripcion">

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!--/.col-md-3-->
                </div>
            </div>
        </section><!--/#bottom-->

        <footer id="footer" class="midnight-blue">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1">
                        <a href="#" target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" class="img-responsive" border="0"></a>
                    </div>
                    <div class="col-lg-6 col-lg-offset-3">
                        ADN AGRO &copy; 2017. <a target="_blank" href="http://aceweb.ga/" title="">Desarrollo ACEweb.</a> Todos los derechos reservados.
                    </div>
                    <div class="col-lg-2">
                        <ul class="pull-right">
                            <li><a id="gototop" class="gototop" href="javascript:;"><i class="icon-chevron-up"></i></a></li><!--#gototop-->
                        </ul>
                    </div>
                </div>
            </div>
        </footer><!--/#footer-->
    {% endblock %}
{% endblock %}


{% block bodyjavascripts %}
    <script src="{{ asset('bundles/cmsgafront/cpce/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/cmsgaback/lightbox/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('bundles/cmsgafront/cpce/js/main.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script type="text/javascript">
        $('.mwstooltip').tooltip(); //tooltip
        var ruta = location.href.split("/");
        var menu = ruta[ruta.length - 1];
        $(".btn-nav").each(function () {
            if ($(this).data("url") === menu) {
                if ($(this).parent("div").length === 0) {
                    $(this).parent().parent().siblings('a').addClass("active");
                } else {
                    $(this).addClass("active");
                }
            }
        });
        $("#btnSuscipcionCorreo").click(function (e) {
            e.preventDefault();
            $("#formInscripcion").html("<iframe id='doppler_subscription' src='http://app2.fromdoppler.com/Lists/FormProcessing/Form?idForm=x1tXQfntOSYjwPpSazIqzQ%3d%3d' height='600px;' width='100%' scrolling='yes' frameborder='no' style='overflow:scroll'></iframe>");
            $("#myModal").show();
        });
    </script>
{% endblock %}