{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}

{% block javascript %}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/datatable/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        $('.tooltips').tooltip();
        var table;
        $("#reset_index_filters").click(function () {
            $(".reset_submit_filters").trigger("click");
        });
        $(document).ready(function () {
            table = $('#tablaPrincipal').dataTable({
                "processing": true,
                "serverSide": true,
                "order": [[0, "desc"]],
                "ajax": {
                    "url": "{{path( config.getTable )}}",
                },
                "aoColumnDefs": [
                    {
                        "mRender": function (data, type, row) {
                            var acciones = "";
                            var array = [
                                '<a  href="' + Routing.generate('{{ config.show }}', {id: row[0]}) + '" title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}" data-toggle="tooltip" data-placement="top" ><span class="glyphicon glyphicon-search"></span></a>',
                                '<a  href="' + Routing.generate('{{ config.edit }}', {id: row[0]}) + '" title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}" data-toggle="tooltip" data-placement="top" ><span class="glyphicon glyphicon-pencil"></span></a>',
                            ];
                            acciones = array.join("");
                            return acciones;
                        },
                        "aTargets": [4]
                    },
                    {
                        "render": function (data, type, row) {
                            return (data === "1") ? '<span class="glyphicon glyphicon-ok"></span>' : '<span class="glyphicon glyphicon-remove"></span>';
                        },
                        "targets": [3]
                    },
                    {
                        "targets": [0],
                        "visible": false
                    }],
                "fnDrawCallback": function (oSettings) {
                    $('[data-toggle="tooltip"]').tooltip();
                }
            });
        });
    </script>
{% endblock %}
