{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}

{% block page %}
    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label">Nombre</label>
                    <div class="form-control">                  
                        <span class="input-xlarge uneditable-input">{{ entity.username }}</span>        
                    </div>
                </div>    
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label">Correo</label>
                    <div class="form-control">                  
                        <span class="input-xlarge uneditable-input">{{ entity.email }}</span>        
                    </div>
                </div>    
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <label class="control-label">Activo</label>
                    <div class="form-control">                  
                        <span class="input-xlarge uneditable-input">{{ isActive(entity.enabled) }}</span>        
                    </div>
                </div>    
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label">Secciones</label>
                    <ul class="list-group">
                        {% for s in entity.secciones %}
                            <li class="list-group-item">{{ s.seccion }}</li> 
                            {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label class="control-label">Paginas Facebook</label>
                    <ul class="list-group">
                        {% for p in entity.pages %}
                            <li class="list-group-item">{{ p.pageFace }}</li> 
                            {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                    {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
                </a>
            </div>
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                    {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                </a>
            </div>
            <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
        </div>
    {% endblock %}